admin_manage_member.html<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 관리 페이지</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <!-- 제일 좌측 메인 카테고리 -->
        <aside>
            <a href="#">회원</a>
            <a href="#">게시글</a>
            <a href="#">리뷰</a>
        </aside>
        <section>
            <!-- 내부 서브 카테고리 -->
            <aside>
                <section>
                    <!-- 로고 이미지 -->
                    <img src="" alt="#">
                </section>
                <section>
                    <a href="#">전체</a>
                    <a href="#">전문가 포트폴리오</a>
                    <a href="#">커뮤니티</a>
                    <a href="#">문의</a>
                    <a href="#"><i class="fa-solid fa-gear"></i>설정</a>
                </section>
            </aside>
            <section>
                <section>
                    <!-- 타이틀 -->
                    <div>
                        <h1>게시글 관리</h1>
                    </div>
                    <div>
                        <button><i class="fa-regular fa-bell"></i></button>
                    </div>
                </section>
                <section>
                    <!-- 서브 타이틀 -->
                    <div>
                        <h2>전체 게시글 정보</h2>
                    </div>
                </section>
                <!-- 검색 -->
                <section>
                    <div>
                        <label>작성한 회원 아이디</label>
                        <input type="text" placeholder="아이디 입력">
                    </div>
                    <div>
                        <label>제목</label>
                        <input type="text" placeholder="제목 입력">
                    </div>
                    <div>
                        <label>작성 날짜</label>
                        <input type="text" placeholder="날짜 입력">
                    </div>
                    <div>
                        <label>내용</label>
                        <input type="text" placeholder="내용 입력">
                    </div>
                </section>
                <!-- 검색 결과 테이블 -->
                <section>
                    <table>
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th><b>전체 선택</b></th>
                            <th><b>게시글 분류</b></th>
                            <th><b>게시글 번호</b></th>
                            <th><b>작성자</b></th>
                            <th><b>제목</b></th>
                            <th><b>작성 날짜</b></th>
                            <th><b>조회수</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="radio"></td>
                            <td><span>게시글 분류</span></td>
                            <td><span>게시글 번호</span></td>
                            <td><span>작성자</span></td>
                            <td><span>제목</span></td>
                            <td><span>작성 날짜</span></td>
                            <td><span>조회수</span></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    </main>
</body>
</html>