<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 관리 페이지</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/admin/adminManage.css">
</head>
<body>
    <main>
        <aside>
            <nav>
                <ul>
                    <li>
                        <a href="#">회원</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">게시글</a>
                    </li>
                </ul>
                <ul>
                    <li><a href="#">리뷰</a></li>
                </ul>
            </nav>
        </aside>
        <section class="manage-sec">
            <section class="logo-sec">
                <!-- 로고 이미지 -->
                <div></div>
            </section>
            <!-- 내부 서브 카테고리 -->
            <aside>
                <nav>
                    <ul>
                        <li><a href="#">전체</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">일반 등록 사용자</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">전문 등록 사용자</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">관리자</a></li>
                    </ul>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-gear"></i>설정</a></li>
                    </ul>





                </nav>
            </aside>
            <section>
                <section>
                    <!-- 타이틀 -->
                    <div>
                        <h1>회원 관리</h1>
                    </div>
                    <div>
                        <button><i class="fa-regular fa-bell"></i></button>
                    </div>
                </section>
                <section>
                    <!-- 서브 타이틀 -->
                    <div>
                        <h2>전체 회원 정보</h2>
                    </div>
                </section>
                <!-- 검색 -->
                <section>
                    <div>
                        <label>회원 이름</label>
                        <input type="text" placeholder="이름 입력">
                    </div>
                    <div>
                        <label>아이디</label>
                        <input type="text" placeholder="아이디 입력">
                    </div>
                    <div>
                        <label>가입 날짜</label>
                        <input type="text" placeholder="날짜 입력">
                    </div>
                    <div>
                        <label>휴대폰 번호</label>
                        <input type="text" placeholder="휴대폰 번호 입력">
                    </div>
                </section>
                <!-- 검색 결과 테이블 -->
                <section>
                    <table>
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th><b>전체 선택</b></th>
                            <th><b>아이디</b></th>
                            <th><b>이름</b></th>
                            <th><b>휴대폰 번호</b></th>
                            <th><b>가입 날짜</b></th>
                            <th><b>전문가 등록 여부</b></th>
                            <th><b>즐겨찾기 수</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="radio"></td>
                            <td><span>아이디</span></td>
                            <td><span>이름</span></td>
                            <td><span>휴대폰 번호</span></td>
                            <td><span>가입 날짜</span></td>
                            <td><span>전문가 등록 여부</span></td>
                            <td><span>즐겨찾기 수</span></td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    </main>
</body>
</html>