<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN | 로그인</title>
    <link rel="stylesheet" href="/static/css/admin/adminLogin.css" th:href="@{/css/admin/adminLogin.css}">
    <link rel="stylesheet" href="/static/css/header/header.css" th:href="@{/css/header/header.css}">

</head>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

<body>
    <main>
        <section class="login-sec">
            <section class="title-sec">
                <p>관리자 로그인</p>
            </section>
           <!-- css를 위한 div-->
            <div id="loginCon">
                <section>
                    <form action="" method="POST">
                        <div class="user-input-con">
                            <input type="text" name="id" id="adminId" required placeholder="아이디">
                            <label for="adminId"></label>
                        </div>
                        <div class="user-input-con">
                            <input type="password" name="pw" id="adminPw" required placeholder="비밀번호">
                            <label for="adminPw"></label>
                        </div>
                        <div class="error_input error">
                            <!-- 오류 메세지 부분 JS로 display: block 주기-->
                            <p id="blank">* <span>공백</span>이 포함되었습니다.</p>
                            <p>* <span>아이디</span>또는<span>비밀번호</span>가 틀렸습니다.</p>
                        </div>
                        <section>
                            <button type="submit" class="login-btn">로그인</button>
                        </section>
                        <section class="login-link-sec">
                            <p>일반 회원이신가요? <a href="/user/login">로그인</a></p>
                        </section>

                    </form>
                </section>
            </div>
        </section>
    </main>
</body>
</html>