<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ADMIN | HOME</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/admin/main.css">
</head>
<body>
    <main>
        <section class="total-sec">
            <section class="logo-sec">
                <div>
                </div>
            </section>
            <section id="selectSec">
                <div>
                    <a href="#">회원 관리</a>
                </div>
                <div>
                    <a href="#">게시글 관리</a>
                </div>
                <div>
                    <a href="#">리뷰 관리</a>
                </div>
            </section>
        </section>
    </main>
</body>
</html>