<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/myPage/mypage_main.css">
    <link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>

<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <div>
            <section id="user-profile-section">
                <div>
                    <h1>(USERNAME)의 마이 페이지</h1>
                    <div id="user-profileImg-container">
                        <!-- 유저 프로필 사진 div-->
                        <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt="#">
                    </div>
                </div>
            </section>

            <section id="user-category-section">
                <ul>
                    <li class="user-category-list">
                        <i class="fa-solid fa-user-pen"></i>
                        <h3><a href="#">회원 정보 수정</a></h3>
                        <p><a href="#">회원이신 고객님의 정보를 관리하는 공간입니다.</a></p>
                    </li>
                    <li class="user-category-list">
                        <i class="fa-solid fa-comments"></i>
                        <h3><a href="#">채팅 내역</a></h3>
                        <p><a href="#">전문가와 진행한 채팅 내역을 관리하는 공간입니다.</a></p>
                    </li>
                    <li class="user-category-list">
                        <i class="fa-solid fa-heart"></i>
                        <h3><a href="#">즐겨 찾기</a></h3>
                        <p><a href="#">회원님이 관심있어 하는 전문가를 한 곳에서 관리하는 공간입니다.</a></p>
                    </li>
                    <li class="user-category-list">
                        <i class="fa-solid fa-credit-card"></i>
                        <h3><a href="#">결제 내역</a></h3>
                        <p><a href="#">전문가의 서비스를 이용하고 결제를 진행했던 내역을 보여드립니다.</a></p>
                    </li>
                    <li class="user-category-list">
                        <i class="fa-solid fa-file-pen"></i>
                        <h3><a href="#">게시물 관리</a></h3>
                        <p><a href="#">회원님이 작성하신 게시물들을 관리하는 공간입니다.</a></p>
                    </li>
                    <li class="user-category-list">
                        <i class="fa-solid fa-address-card"></i>
                        <h3><a href="#">전문가 등록</a></h3>
                        <p><a href="#">전문가로 활동하려면 전문가 등록을 진행해야 합니다.</a></p>
                    </li>
                </ul>
            </section>
        </div>
    </main>
</body>
</html>