<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>WISH LIST</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section>
            <h1 class="wishTitle">즐겨찾기 페이지</h1>
            <ul id="wishList">
                <li class="wishLies">
                    <i class="fa-solid fa-heart"></i>
                    <div class="imgCon">
                        <img class="img" src="#" alt="#">
                        <div class="categoryCon">
                            <a class="category" href="#">Design</a>
                            <a class="category" href="#">Research</a>
                        </div>
                    </div>
                    <section class="contentSec">
                        <div class="writerCon">
                            <a class="writer" href="#">Natali Craig</a>
                            <a class="writeDate" href="#">14 Jan 2022</a>
                        </div>
                        <div class="contentCon">
                            <div class="title">
                                <h3>How collaboration makes us better designers</h3>
                            </div>
                            <div class="content">
                                <p>Collaboration can make our teams stronger, and our individual designs better.</p>
                            </div>
                        </div>
                    </section>
                </li>
                <li class="wishLies">
                    <i class="fa-solid fa-heart"></i>
                    <div class="imgCon">
                        <img class="img" src="#" alt="#">
                        <div class="categoryCon">
                            <a class="category" href="#">Design</a>
                            <a class="category" href="#">Research</a>
                        </div>
                    </div>
                    <section class="contentSec">
                        <div class="writerCon">
                            <a class="writer" href="#">Natali Craig</a>
                            <a class="writeDate" href="#">14 Jan 2022</a>
                        </div>
                        <div class="contentCon">
                            <div class="title">
                                <h3>How collaboration makes us better designers</h3>
                            </div>
                            <div class="content">
                                <p>Collaboration can make our teams stronger, and our individual designs better.</p>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>