@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #3d3d3d
}
a:visited {color: #3d3d3d}

ul {
    list-style: none;
}

/*  전체적인 부분 */
main {
    margin: 120px 0;

    display: flex;
    position: absolute;
    justify-content: center;
    width: 100vw;
    font-family: 'Noto Sans KR', sans-serif;
    z-index: 1;
}
/* 회원가입 타이틀 부분 */
h2 {
    font-size: 35px;
    font-weight: normal;
    color: #000000;
    text-align: left;
    margin-bottom: 10px;
}
input::placeholder {
    font-weight: lighter;
    font-size: 0.8em;
    color: rgba(55, 55, 55, 0.5);
}
input:focus ~ label{
    top: -2px;
    font-size: 15px;
    font-weight: normal;
    color: black;
    transition: top .5s ease;

}
input:valid ~ label {
    top: -2px;
    font-size: 15px;
    font-weight: normal;
    color: black;
    transition: top .5s ease;

}

select {
    /*-webkit-appearance:none; !* 크롬 화살표 없애기 *!*/
    /*-moz-appearance:none; !* 파이어폭스 화살표 없애기 *!*/
    appearance:none; /* 화살표 없애기 */
    text-align: center;
    border: #777777 dashed 1px;
}
select:hover{
    cursor: pointer;
    background-color: rgba(224, 223, 223, 0.28);
    border: 1.5px solid #777777;

}
/*body::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0; right: 0; bottom: 0; left: 0;*/
/*}*/

/***************************************/
/*전체 부분*/
.register-con {
    position: relative;
    width: 45vw;
    max-width: 550px;
    overflow: hidden;
    z-index: 2;
}

/* 정규식 경고문구 */
.error p {
    display: none;
}

/* 한줄에 가로 정렬 div */
#userPhoneCon, #userNameGender, #userEmailCon, #userPhoneChkCon{
    display: flex;
}


/* 입력받는 부분 */
.user-input-con {
    width: 100%;
    position: relative;
    margin-top: 10px;
}
/*.user-input-con:first-child {*/
/*    margin-top: 0;*/
/*}*/
/* 전체 input */
.user-input-con input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #000;
    outline: none;
}

.user-input-con label {
    position: absolute;
    left: 10px;
    top: 18px;
    font-size: 18px;
    color: #999;
    /*transition: top .5s ease;*/
}






/***************** 이름 & 남/여********************/

/* 이름과 성별 전체 부분 */
#userNameGender > input {
    margin-right: 5px;
}

/* 성별 선택 버튼 전체 */
#user-gender {
    display: flex;
    margin-top: 8px;
}
/* 남/ 여 선택 input */
#user-gender input {
    padding: 10px;
    margin-left: 5px;
    width: 6vw;
    font-size: 15px;
    font-weight: bold;
    color: #777777;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: rgba(224, 223, 223, 0.28);
}

/* 남/ 여 키 위에 마우스 올렸을 때, */
    /* 남자 키 */
#user-gender input:first-child:hover {
    border: 1px solid #999999;
    color: #000000;
    background-color: rgba(167, 199, 231, 0.8);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-image: url(../Icons/person-solid.svg);
    cursor: pointer;
}
#user-gender input:last-child:hover {
    border: 1px solid #999999;
    color: #000000;
    background-color: rgba(255, 217, 229, 0.8);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-image: url(../Icons/person-dress-solid.svg);
    cursor: pointer;
}
/**********휴대폰 번호***********/
#userPhoneCon > select {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 10px;
}
#userPhoneCon > label{
    left: 110px;
}
#userPhoneCon > label:focus {
    top: -2px;
    font-size: 15px;
    font-weight: normal;
    color: black;


}
#userPhoneCon > button {
    margin-left: 10px;
    width: 9vw;
    color: #777777;
    border: 1px solid #999999;;
    border-radius: 5px;
}
#userPhoneCon > button:hover {
    border: 1px solid black;
    color: #000000;
    background-color: #fff;
    cursor: pointer;
}

/****************** 인증 번호 ******************/
#userPhoneChkCon > button {
    margin-left: 10px;
    width: 5vw;
    color: #777777;
    border: 1px solid #999999;;
    border-radius: 5px;
}
#userPhoneChkCon > button:hover {
    color: #000000;
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;

}


/***************** 이메일 *******************/
#userEmailCon > select {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 10px;
}

/************* 하단 버튼 ************/
.btn-con {
    width: 100%;
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}
.register-btn, .home-btn {
    width: 48%;
}

/* 하단 버튼 부분*/
.btn-con button{
    margin: 20px 0 10px ;
    width: 100%;
    height: 50px;
    background-color: rgba(224, 223, 223, 0.28);
    color: #3d3d3d;
    font-size: 20px;
    border: none;
    border-radius: 15px;
}

/* 회원가입 , 홈으로 버튼 위에 마우스 올렸을 때, */
.btn-con button:hover{
    border: 1px solid #999999;
    color: #000000;
    background-color: #fff;
    cursor: pointer;
}
