@import "../common.css";

#detailSection{
    position: relative;
    width: 1104px;
    margin: 40px auto;
    padding: 32px;
}
#expertProfileSec{
    display: flex;
    flex: 1;
    height: 224px;
    align-items: center;
    padding: 0 32px;
    margin-bottom: 24px;
    background-color: var(--color-lighter-gray);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    box-shadow: var(--box-shadow);
}
#profileImgContainer{
    width: 120px;
    height: 120px;
    margin-right: 24px;
}
#profileImgContainer img{
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 16px;
}
#profileInfoContainer{
    display: flex;
    flex: 1;
}
#profileNameContainer{
    flex: 1;
    height: 120px;
    align-content: center;
}
#profileNameContainer a{
    display: inline-block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}
#profileNameContainer i{
    color: orange;
}
#heartContainer{
    width: 64px;
    height: 120px;
}

#heartContainer> button > i{
    font-size: 32px;
}

#heartContainer> button:hover > i{
    color: var(--color-error-red);
}


/*************** 전문가 소개 ***************/
#bodySec{
    display: flex;
}
#expertInfoSec{
    width: 704px;
    padding: 16px 24px;
    margin-right: 24px;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
#contentNav{
    margin: 12px 0;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#contentNav ul{
    display: flex;
}
#contentNav li{
    height: 40px;
    margin-right: 16px;
    color: var(--color-medium-gray);
    font-size: 20px;
    font-weight: bold;
}
#contentNav a{
    color: var(--color-medium-gray);
}
#contentNav li[active]{
    border-bottom: 2px solid black;
}
#contentNav li[active] a{
    color: black;
}
/*************** 전문가 소개 > 전문가 정보 ***************/
#introSec{
    margin-bottom: 42px;
}
.nav-title{
    display: block;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
}
.sub-title{
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
}
.desc-container{
    margin-bottom: 20px;
}
.desc-container:last-child{
    margin-bottom: 0;
}
.tags-container{
    margin-bottom: 10px;
}
.tags{
    display: inline-block;
    padding: 3px 10px;
    margin-right: 5px;
    height: 25px;
    align-content: center;
    border-radius: 15px;
    background-color: var(--color-lighter-gray);
    color: var(--color-medium-gray);
}
/*************** 캐러셀 ***************/
#serviceSection, #portfolioSection{
    margin-bottom: 42px;
}
.embla_service, .embla_portfolio{
    position: relative;
    overflow: hidden;
}
.embla__container{
    display: flex;
}
.embla__slide{
    width: 240px;
    height: 300px;
}
.embla__slide:not(:last-child){
    margin-right: 20px;
}
.img-container img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
}
.title-container > a{
    display: block;
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.embla-btn-container{
    position: absolute;
    display: flex;
    width: 100%;
    top: 150px;
    justify-content: space-between;
}
.embla-btn-container > button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.embla-btn-container > button:hover{
    background-color: var(--color-main-navy);
    color: var(--color-lighter-bluegray);
}
/*************** 리뷰 ***************/
.review-container{
    width: 100%;
    border-radius: 16px;
    padding: 32px;
    box-shadow: var(--box-shadow);
}
.review-header-sec{
    display: flex;
    height: 48px;
    margin-bottom: 16px;
}
.writer-img-con img{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.review-writer-container{
    align-content: center;
}
.review-writer{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4px;
}
.review-writer-container i{
    color: orange;
}
.review-rate{
    font-weight: bold;
}
.review-content-con{
    margin-bottom: 16px;
}
/*************** 리뷰 답변 ***************/
.review-answer-sec{
    padding: 16px;
    background-color: var(--color-lighter-gray);
    border-radius: 16px;
}
.answer-header-container{
    display: inline-flex;
    margin-bottom: 8px;
}
.answer-writer{
    font-weight: bold;
}
.answer-content-con{
    color: var(--color-dark-gray);
}
.bar{
    display: inline-block;
    margin: 0 8px;
    color: var(--color-light-gray);
}
/*************** 전문가 상담하기 aside ***************/
#expertAside{
    position: sticky;
    top: 16px;
    flex: 1;
    height: 192px;
    align-content: center;
    background-color: white;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
}
#startConsultCon{
    width: 256px;
    height: 100%;
    margin: 0 auto;
    align-content: center;
}
#startConsultCon > p{
    font-weight: bold;
    margin-bottom: 24px;
}
#consultBtn{
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: var(--color-main-navy);
    color: var(--color-lighter-bluegray);
}
#consultBtn:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}
