<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전문가 찾기 | 서비스 게시물</title>
</head>
<body>
    <main>
        <section id="findExpertContentSec">
            <section class="headerSec">
                <div class="headerCategoryCon">
                    <a href="#">홈</a>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a href="#">Front-end</a>
                </div>
            </section>
            <section class="bodySec">
                <section class="contentCon">
                    <div class="imgCon">
                        <!-- 서비스 대표 이미지 -->
                        <img src="#" alt="#">
                    </div>
                    <nav class="contentNav">
                        <!-- 게시글 내에서 태그에 맞는 위치로 이동 -->
                        <a href="#">서비스 소개</a>
                        <a href="#">포트폴리오</a>
                        <a href="#">리뷰</a>
                    </nav>
                    <section class="serviceInfoSec">
                        <div class="serviceIntroCon">
                            <h3>서비스 소개</h3>
                            <p>서비스 소개 내용</p>
                        </div>
                        <section class="portfolioSec">
                            <h3>포트폴리오</h3>
                            <ul class="portfolioContentList">
                                <!-- 캐러셀로 구현 -->
                                <li>
                                    <div class="portfolioImgCon">
                                        <img src="#" alt="#">
                                    </div>
                                    <div class="portfolioTitleCon">
                                        <a class="portfolioTitle" href="#">포트폴리오 제목</a>
                                        <a class="portfolioDescribe" href="#">포트폴리오 간단한 설명</a>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <section class="portfolioReviewSec">
                            <section class="reviewHeaderSec">
                                <div class="writerImgCon">
                                    <!-- 리뷰 작성자 프로필 이미지 -->
                                    <img src="#" alt="#">
                                </div>
                                <div class="reviewWriter">
                                    <a href="#">작성자아이디/닉네임</a>
                                </div>
                                <div class="reviewScore">
                                    <!-- 별점 -->
                                </div>
                                <div class="reviewWriteDate">
                                    <span>리뷰 작성 일자</span>
                                </div>
                            </section>
                            <div class="reviewContentCon">
                                <p>작성한 리뷰 내용</p>
                            </div>
                            <section class="reviewAnswerSec">
                                <section class="answerHeaderSec">
                                    <a href="#" class="answerWriter">답변자</a>
                                    <span class="answerWriteDate">작성 일자</span>
                                </section>
                                <div class="answerContentCon">
                                    <p>리뷰 답글 내용</p>
                                </div>
                            </section>
                        </section>
                    </section>
                </section>
                <aside id="findExpertAside">
                    <section id="titleAsideSec">
                        <div class="serviceTitleCon">
                            <h4>서비스 제목</h4>
                        </div>
                        <div class="servicePriceCon">
                            <span class="servicePrice">서비스 가격</span>
                        </div>
                        <div class="serviceDescribeCon">
                            <p class="serviceDescribe">서비스 간단 설명</p>
                        </div>
                        <button id="purchaseBtn">구매하기</button>
                    </section>
                    <section id="profileAsideSec">
                        <div class="profileSpanCon">
                            <span>OOO 전문가에게 원하는 서비스에 대해 상담요청을 해보세요</span>
                        </div>
                        <button class="chatBtn">상담하기</button>
                        <button class="profileBtn">프로필 보기</button>
                    </section>
                </aside>
            </section>
        </section>
    </main>
</body>
</html>