<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.closeup.domain.mapper.ExpertDetailMapper">

    <insert id="insertExpertDetails">
        INSERT INTO `expert_detail` (expert_nickname, category, information) VALUES
        <foreach collection='details' item='detail' separator=','>
        (#{detail.expertNickname}, #{detail.category}, #{detail.information})
        </foreach>
    </insert>

    <delete id="deleteExpertDetailsByNickname">
        DELETE FROM `expert_detail`
        WHERE expert_nickname = #{expertNickname}
    </delete>

    <select id="selectExpertDetailListByNickname">
        SELECT *
        FROM `expert_detail`
        WHERE `expert_nickname` = #{nickname}
    </select>

    <select id="selectExpertDetailListByNicknameAndCategory">
        SELECT *
        FROM `expert_detail`
        WHERE `expert_nickname` = #{nickname} AND `category` = #{category}
    </select>

</mapper>