<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.closeup.domain.mapper.WishListMapper">
    <select id="getWishListByUserId" resultType="com.example.closeup.domain.dto.ExpertDto">
        SELECT
            E.*
        FROM `wish` W
            INNER JOIN `expert` E
            ON W.`expert_id` = E.`user_id`
        WHERE W.`user_id` = #{userId}
    </select>

    <insert id="insertWishList">
        INSERT INTO `wish` (user_id, expert_id) VALUES (#{userId}, #{expertId})
    </insert>

    <delete id="deleteWishList">
        DELETE FROM `wish` WHERE user_id = #{userId} AND expert_id = #{expertId}
    </delete>
</mapper>