<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이페이지 | 즐겨찾기 페이지</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/css/common.css">
    <link rel="stylesheet" href="../../../static/css/myPage/normal/mypage_wishlist.css">
</head>
<body>
    <main>
        <section id="wishlistSec">
            <div>
                <section id="titleSec">
                    <p>즐겨찾기 페이지</p>
                </section>
                <section id="bodySec">
                    <ul id="wishList">
                        <li class="wish-lies">
                            <div>
                                <div class="heart-con">
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                                <div class="header-con">
                                    <div class="img-con">
                                        <a href="#"><img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt="#"></a>
                                    </div>
                                    <div class="category-con">
                                        <button style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                        <button style="background-color:#FDF4C7; color: #FF9900;">Design</button>
                                    </div>
                                </div>
                                <section class="content-sec">
                                    <div class="title-con">
                                        <div class="writer-con">
                                            <a class="writer" href="#">Natali Craig</a>
                                            <a class="write-date" href="#">14 Jan 2022</a>
                                        </div>
                                        <div class="title">
                                            <a href="#"><p>How collaboration makes us better designers</p></a>
                                        </div>
                                    </div>
                                    <div class="content-con">
                                        <a href="#"><p>Collaboration can make our</p></a>
                                        <a href="#"><p>teams stronger, and our</p></a>
                                        <a href="#"><p>individual designs better.</p></a>
                                    </div>
                                </section>
                            </div>
                        </li>
                        <li class="wish-lies">
                            <div>
                                <div class="heart-con">
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                                <div class="header-con">
                                    <div class="img-con">
                                        <a href="#"><img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt="#"></a>
                                    </div>
                                    <div class="category-con">
                                        <button style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                        <button style="background-color:#FDF4C7; color: #FF9900;">Design</button>
                                    </div>
                                </div>
                                <section class="content-sec">
                                    <div class="title-con">
                                        <div class="writer-con">
                                            <a class="writer" href="#">Natali Craig</a>
                                            <a class="write-date" href="#">14 Jan 2022</a>
                                        </div>
                                        <div class="title">
                                            <a href="#"><p>How collaboration makes us better designers</p></a>
                                        </div>
                                    </div>
                                    <div class="content-con">
                                        <a href="#"><p>Collaboration can make our</p></a>
                                        <a href="#"><p>teams stronger, and our</p></a>
                                        <a href="#"><p>individual designs better.</p></a>
                                    </div>
                                </section>
                            </div>
                        </li>
                        <li class="wish-lies">
                            <div>
                                <div class="heart-con">
                                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                                </div>
                                <div class="header-con">
                                    <div class="img-con">
                                        <a href="#"><img src="https://image.utoimage.com/preview/cp872722/2022/12/202212008462_500.jpg" alt="#"></a>
                                    </div>
                                    <div class="category-con">
                                        <button style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                        <button style="background-color:#FDF4C7; color: #FF9900;">Design</button>
                                    </div>
                                </div>
                                <section class="content-sec">
                                    <div class="title-con">
                                        <div class="writer-con">
                                            <a class="writer" href="#">Natali Craig</a>
                                            <a class="write-date" href="#">14 Jan 2022</a>
                                        </div>
                                        <div class="title">
                                            <a href="#"><p>How collaboration makes us better designers</p></a>
                                        </div>
                                    </div>
                                    <div class="content-con">
                                        <a href="#"><p>Collaboration can make our</p></a>
                                        <a href="#"><p>teams stronger, and our</p></a>
                                        <a href="#"><p>individual designs better.</p></a>
                                    </div>
                                </section>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
    </main>
</body>
</html>