<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전문가 찾기</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section id="findExpertMainSec">
            <section class="headerSec">
                <div class="headerCategoryCon">
                    <a href="#">홈</a>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a href="#">Front-end</a>
                </div>
                <div class="titleCon">
                    <h1 class="findExpertTitle">Front-end</h1>
                </div>
                <div class="searchCon">
                    <input class="searchInput" type="text">
                    <label class="filterLabel">
                        <select>
                            <option>인기순</option>
                            <option>추천순</option>
                            <option>평점순</option>
                            <option>응답순</option>
                            <option>최신순</option>
                        </select>
                    </label>
                </div>
            </section>
            <section class="bodySec">
                <div class="categoryCon">
                    <ul>
                        <li><a href="#">Front-end</a></li>
                        <li><a href="#">Back-end</a></li>
                        <li><a href="#">JAVA</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">서버 개발</a></li>
                        <li><a href="#">앱 개발</a></li>
                        <li><a href="#">웹 페이지</a></li>
                        <li><a href="#">데이터베이스</a></li>
                    </ul>
                </div>
                <div class="contentCon">
                    <ul id="serviceList">
                        <li class="serviceLies">
                            <div class="imgCon">
                                <!-- 서비스 이미지 -->
                                <img src="#" alt="#">
                            </div>
                            <section class="infoSec">
                                <div class="infoIntro">
                                    <a href="#">경력/ 한줄 소개</a>
                                </div>
                                <div class="infoTitle">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="infoDescribe">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="infoCategory">
                                    <a class="category" href="#">카테고리</a>
                                </div>
                            </section>
                        </li>
                        <li class="serviceLies">
                            <div class="imgCon">
                                <!-- 서비스 이미지 -->
                                <img src="#" alt="#">
                            </div>
                            <section class="infoSec">
                                <div class="infoIntro">
                                    <a href="#">경력/ 한줄 소개</a>
                                </div>
                                <div class="infoTitle">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="infoDescribe">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="infoCategory">
                                    <a class="category" href="#">카테고리</a>
                                </div>
                            </section>
                        </li>
                        <li class="serviceLies">
                            <div class="imgCon">
                                <!-- 서비스 이미지 -->
                                <img src="#" alt="#">
                            </div>
                            <section class="infoSec">
                                <div class="infoIntro">
                                    <a href="#">경력/ 한줄 소개</a>
                                </div>
                                <div class="infoTitle">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="infoDescribe">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="infoCategory">
                                    <a class="category" href="#">카테고리</a>
                                </div>
                            </section>
                        </li>
                        <li class="serviceLies">
                            <div class="imgCon">
                                <!-- 서비스 이미지 -->
                                <img src="#" alt="#">
                            </div>
                            <section class="infoSec">
                                <div class="infoIntro">
                                    <a href="#">경력/ 한줄 소개</a>
                                </div>
                                <div class="infoTitle">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="infoDescribe">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="infoCategory">
                                    <a class="category" href="#">카테고리</a>
                                </div>
                            </section>
                        </li>
                        <li class="serviceLies">
                            <div class="imgCon">
                                <!-- 서비스 이미지 -->
                                <img src="#" alt="#">
                            </div>
                            <section class="infoSec">
                                <div class="infoIntro">
                                    <a href="#">경력/ 한줄 소개</a>
                                </div>
                                <div class="infoTitle">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="infoDescribe">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="infoCategory">
                                    <a class="category" href="#">카테고리</a>
                                </div>
                            </section>
                        </li>
                    </ul>
                </div>
                <nav class="paginationNav">
                    <ul class="pagination">
                        <li><a href="#"><i class="fa-solid fa-caret-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa-solid fa-caret-right"></i></a></li>
                    </ul>
                </nav>
            </section>
        </section>
    </main>
</body>
</html>