@import "../../common.css";

#commuWriteSec {
    width: 1104px;
    margin: 48px auto;
}
.top-sec >.title-con {
    color: var(--color-dark-gray);
    font-size: 40px;
    font-weight: lighter;

}

#writeContentSec {
    padding: 40px;
    margin-top: 24px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.write-header-con {
    margin-bottom: 16px;
}

.writeCategoryLabel > select {
    width: 360px;
    margin-bottom: 20px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid var(--color-light-gray);
    border-radius: 8px;
}

.title-con > input {
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    border: 1px solid var(--color-light-gray);
    border-radius: 8px;
}




.desc-container{
    margin-bottom: 10px;
    color: var(--color-medium-gray);
}
#fileSection{
    margin-bottom: 20px;
}
#fileInputContainer{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    height: 110px;
    color: var(--color-medium-gray);
    background-color: var(--color-lighter-bluegray);
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
#fileInputContainer > input[type="file"]{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
#fileInputContainer i{
    font-size: 20px;
}
#fileInputContainer > p{
    cursor: default;
}


#writeContainer textarea{
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: scroll;
    resize: unset;
    overflow-x: hidden;
}


.writeBtnSec {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.writeBtnSec > button{
    width: 488px;
    height: 64px;
    border: 1px solid var(--color-lighter-gray);
    border-radius: 8px;
    background-color: var(--color-light-blue);
}
.writeBtnSec > button:hover {
    border: 1px solid var(--color-light-gray);
    background-color: var(--color-main-navy);
    color: white;
}
