 @import "../../common.css";

 #commuSec {
    width: 1104px;
    margin: 48px auto;
}
#commuSec > div {
    text-align: right;
}

.top-sec {
    padding: 0 40px;
    text-align: center;
}

.title-con {
    color: var(--color-dark-gray);
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}
.search-con{
    padding: 4px;
    position: relative;
    margin: 16px auto;
    width: 480px;
    height: 48px;
    text-align: right;
    border: 1px solid var(--color-light-gray);
    border-radius: 8px;
    background-color: #fff;
}
.search-con svg {
    position: absolute;
    left: 10px;
    top: 10px;
}

.search-con input{
    margin-left: 8px;
    padding: 8px 16px;
    width: 440px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

.writeBtn {
    width: 80px;
    padding: 8px 16px;
    border: 1px solid var(--color-light-gray);
    border-radius: 8px;
    background-color: var(--color-main-navy);
    color: white;
}

.writeBtn:hover , .writeBtn:hover a{
    background-color: var(--color-light-blue);
    color: var(--color-main-navy);
}




/* 하단 사이드 메뉴 + 결과 내용 부분 */
.body-sec {
    /*margin-top: 48px;*/
    padding: 24px 40px;
    display: flex;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.body-sec > aside{
    width: 288px;
    padding-right: 24px;
    border-right: 1px solid var(--color-light-gray);
}
.body-sec > aside > div {
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: bold;
}

.body-sec > aside > ul > li {
    padding: 8px 16px;
}
.body-sec > aside > ul > li:last-child {
    margin-bottom: 32px;
}

.body-sec > aside > div:hover,
.body-sec > aside > ul > li:hover {
    background-color: var(--color-lighter-gray);
}


/* 게시글 내용부분 */

.content-con {
    width: 712px;
    margin-left: 24px;
}
.content-con table{
    width: 736px;
}
.content-con thead th{
    text-align: center;
}

.content-con tbody td{
    padding: 0 8px;
    text-align: center;
}
.content-con thead th,
.content-con tbody td{
    padding: 8px 0;
    border-bottom: 1px solid var(--color-lighter-gray);

}
 .content-con tbody > tr {
     font-weight: lighter;
 }

/* 글 제목 부분은 text 정렬 왼쪽 부터 */
.content-con tbody td:nth-child(2){
    text-align: left;
}
.content-con tbody > tr > td:hover{
    text-decoration: underline;

}

.contentCon colgroup .no {
    width: 8%;
}
.contentCon colgroup .title {
    text-align: left;
}
.contentCon colgroup .write-date {
    width: 13%;
}
.contentCon colgroup .writer {
    width: 10%;
}
.contentCon colgroup .like-count {
    width: 8%;
}
.contentCon colgroup .view-count {
    width: 8%;
}


/************************ post css *******************/
.postSec {
    padding: 16px;
}

#viewHeader {
    padding: 24px;
    border: 1px solid var(--color-light-gray);
    border-radius: 15px;
}
.headerCategoryCon ,
.headerCategoryCon a
{
    font-size: 10px;
    color: var(--color-medium-gray);
}
.postTitleCon{
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 36px;
}
#viewContent {
    min-height: 416px;
    max-height: 600px;
    overflow: scroll;

}

#btnCon {
    padding: 16px 0;
    border-bottom: 1px solid var(--color-light-gray);
}
#commentInputCon {
    margin-top: 16px;
}
#commentInputCon input{
    padding: 0 16px;
    width: 100%;
    height: 48px;
    color: var(--color-light-gray);
    border: 1px solid var(--color-light-gray);
    border-radius: 8px;
}
.commentsCon {
    margin-top: 16px;
    padding: 8px 0;
}

.commentList > .commentCon , .comment-reply li{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light-blue);
}

.commentHeaderCon {
    display: block;

}

.commentCon {
    position: relative;
}

.commentWriter , .commentWriteDate, .commentBtnCon> button {
    font-weight: lighter;
    color: var(--color-medium-gray) !important;
}
.commentBtnCon> button:hover {
    font-weight: normal;
    text-decoration: underline;
}


.commentContent {
    font-weight: lighter;
}

.comment-delete {
    position: absolute;
    right: 8px;
    bottom: 16px;
    color: var(--color-lighter-bluegray);
}

.commentCon:hover .comment-delete {
    color: #000;
    cursor: pointer;
}

.comment-reply .commentHeaderCon {
    display: flex;
}
.comment-reply .commentHeaderCon > img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
/*****************************************************/