@import "../../common.css";

#findExpertSec{
    position: relative;
    width: 1104px;
    margin: 0 auto;
    padding: 32px;
}
/*************** 타이틀/검색 부분 **************/
#headerSec{
    display: flex;
    height: 104px;
}
#headerTitleCon{
    flex: 1;
}
#headerCategoryCon{
    font-size: 12px;
    margin-bottom: 8px;
}
#headerCategoryCon a, #headerCategoryCon i{
    margin-right: 2px;
    color: var(--color-medium-gray);
}
#findExpertTitle{
    font-size: 40px;
    font-weight: bold;
}
#searchCon{
    display: flex;
    width: 400px;
}
#searchCon > label{
    display: flex;
    padding: 5px 10px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-content: center;
}
#searchCon input, #searchCon select{
    background-color: var(--color-lighter-bluegray);
    border: none;
    outline: none;
}
#searchCon svg{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color: var(--color-medium-gray);
}
#searchLabel{
    flex: 1;
    margin-right: 8px;
}
/**************** 카테고리 ********************/
#bodySec{
    display: flex;
}
#categorySec{
    width: 192px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.category-lies{
    height: 40px;
    margin-bottom: 8px;
    padding: 0 8px;
    align-content: center;
}
.category-lies[active]{
    border-radius: 8px;
    background-color: var(--color-lighter-gray);
    font-weight: bold;
}
.category-lies a{
    font-size: 20px;
}
/************ 서비스 리스트 ****************/
#serviceListSec{
    flex: 1;
    padding-left: 32px;
}
#serviceList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}
#serviceList .img-con img{
    width: 248px;
    height: 184px;
    border-radius: 24px;
}
.service-lies{
    width: 248px;
    height: 392px;
}
.img-con{
    margin-bottom: 16px;
}
.info-con > div{
    margin-bottom: 8px;
}
.info-writer{
    font-weight: bold;
}
.info-title{
    font-size: 22px;
    font-weight: bold;
}
.info-desc a{
    color: var(--color-medium-gray);
}
.info-category{
    display: inline-block;
}
.info-category button{
    height: 20px;
    padding: 2px 8px;
    border-radius: 10px;
}
/************ 페이지네이션 ****************/
#paginationSec{
    text-align: center;
}
#paginationSec li{
    display: inline;
}