@import "../../common.css";

#findExpertPostSec{
    position: relative;
    width: 1104px;
    margin: 40px auto;
    padding: 32px;
}
/************** 서비스 내용 ****************/
#bodySec{
    margin-right: 24px;
}
#postSec{
    display: flex;
}
#headerCategoryCon{
    height: 16px;
    font-size: 12px;
    margin-bottom: 8px;
}
#headerCategoryCon a, #headerCategoryCon i{
    margin-right: 2px;
    color: var(--color-medium-gray);
}
#contentSec{
    width: 704px;
}
#contentSec .img-con img{
    width: 704px;
    height: 520px;
}
#infoSec{
    padding: 16px;
}
#contentNav{
    margin: 12px 0;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#contentNav ul{
    display: flex;
}
#contentNav li{
    height: 40px;
    margin-right: 16px;
    color: var(--color-medium-gray);
    font-size: 20px;
    font-weight: bold;
}
#contentNav a{
    color: var(--color-medium-gray);
}
#contentNav li[active]{
    border-bottom: 2px solid black;
}
#contentNav li[active] a{
    color: black;
}
#serviceIntroSec{
    margin-bottom: 42px;
}
.nav-title{
    display: block;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
}
.desc-container{
    margin-bottom: 20px;
}
.desc-container:last-child{
    margin-bottom: 0;
}
/*************** 캐러셀 ******************/
#portfolioSec{
    margin-bottom: 42px;
}
.embla{
    position: relative;
    overflow: hidden;
}
.embla__container{
    display: flex;
}
.embla__slide{
    width: 240px;
    height: 300px;
}
.embla__slide:not(:last-child){
    margin-right: 20px;
}
.img-container img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
}
.title-container > a{
    display: block;
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.embla-btn-container{
    position: absolute;
    display: flex;
    width: 100%;
    top: 150px;
    justify-content: space-between;
}
.embla-btn-container > button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.embla-btn-container > button:hover{
    background-color: var(--color-main-navy);
    color: var(--color-lighter-bluegray);
}
/*************** 리뷰 ***************/
.review-container{
    width: 100%;
    border-radius: 16px;
    padding: 32px;
    box-shadow: var(--box-shadow);
}
.review-header-sec{
    display: flex;
    height: 48px;
    margin-bottom: 16px;
}
.writer-img-con img{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.review-writer-container{
    align-content: center;
}
.review-writer{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 4px;
}
.review-writer-container i{
    color: orange;
}
.review-rate{
    font-weight: bold;
}
.review-content-con{
    margin-bottom: 16px;
}
/*************** 리뷰 답변 ***************/
.review-answer-sec{
    padding: 16px;
    background-color: var(--color-lighter-gray);
    border-radius: 16px;
}
.answer-header-container{
    display: inline-flex;
    margin-bottom: 8px;
}
.answer-writer{
    font-weight: bold;
}
.answer-content-con{
    color: var(--color-dark-gray);
}
.bar{
    display: inline-block;
    margin: 0 8px;
    color: var(--color-light-gray);
}
/*************** 어사이드 ******************/
#findExpertAside{
    position: sticky;
    top: 16px;
    flex: 1;
    margin-top: 24px;
    height: 250px;
}
#findExpertAside > div{
    margin-bottom: 24px;
    background-color: white;
    box-shadow: var(--box-shadow);
}
.service-title, .service-price{
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 18px;
}
.service-desc{
    margin-bottom: 24px;
}
#profileAsideCon p{
    margin-bottom: 24px;
    font-weight: bold;
}
#buyAsideCon, #profileAsideCon{
    width: 312px;
    padding: 24px;
    border-radius: 16px;
}
#chatBtn{
    margin-bottom: 16px;
}
#findExpertAside button{
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: var(--color-main-navy);
    color: var(--color-lighter-bluegray);
}
#findExpertAside button:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}

#paymentMethodDialog {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.125rem);
    background-color: #17202aa0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease;
    z-index: 999;
}

#paymentMethodDialog.visible {
    opacity: 1;
    pointer-events: all;
}

#paymentMethodDialog .modal {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#paymentMethodDialog h1 {
    margin-bottom: 1.5rem;
}

#paymentMethodDialog .price {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

#paymentMethodDialog .select-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


#paymentMethodDialog .pay-method-btn {
    width: 100%;
    height: 50px;
    border: 0.0625rem solid #bcbcbc;
    border-radius: 8px;
    margin: 0 1rem 1rem 0;
}

#paymentMethodDialog .pay-method-btn img {
    width: 75px;
}

#paymentMethodDialog .pay-method-btn.clicked {
    background-color: #d6d6d6;
}

#paymentMethodDialog #payBtn {
    height: 50px;
    background-color: #0C9059;
    border-radius: 5px;
}

#paymentMethodDialog #cancelBtn {
    height: 50px;
    background-color: #ff7b63;
    border-radius: 5px;
}

#paymentMethodDialog .btn-container {
    display: flex;
}