@import "../../common.css";

input, button{
    display: block;
    width: 440px;
    height: 72px;
    border-radius: 10px;
    padding: 15px;
}
#modifySection{
    max-width: 1104px;
    margin: 80px auto;
    height: 100vh;
}
.modify-container{
    margin: 0 auto;
    width: 520px;
    height: 400px;
    text-align: center;
}
#titleSec{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 20px;
}
#confirmContainer{
    background-color: white;
    height: 264px;
    padding: 32px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.modify-input-container > input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.error-message-container{
    width: 100%;
    height: 56px;
    align-content: center;
}
.btn-container > button{
    width: 100%;
    background-color: var(--color-main-navy);
    color: var(--color-lighter-bluegray);
}
.btn-container > button:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}
/* 오류 메세지 */
.error p {
    display: block;
    color: var(--color-error-red);
    font-size: 14px;
    text-align: center;
}