@import "../../common.css";

input, button{
    display: block;
    width: 440px;
    height: 72px;
    border-radius: 10px;
    padding: 15px;
}
#modifySection{
    max-width: 1104px;
    margin: 0 auto;
    height: 100vh;
}
.modify-container{
    position: relative;
    top: 300px;
    margin: 0 auto;
    width: 520px;
    height: 400px;
    text-align: center;
}
#titleSec{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.modify-input-container{
    background-color: white;
    height: 266px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shaodw);
}
.modify-input-container > input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.modify-input-container > button{
    background-color: var(--color-main-navy);
    color: var(--color-lighter-bluegray);
}
.modify-input-container > button:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}