@import "../../common.css";

input{
    display: block;
    width: 440px;
    height: 72px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#modifySection{
    max-width: 1104px;
    margin: 80px auto;
    height: 100vh;
}
.modify-container{
    margin: 0 auto;
    width: 520px;
    height: 400px;
    text-align: center;
}
#titleSec{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: left;
}
.modify-container > form{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
#idInput{
    background-color: rgba(0, 0, 0, 0.2);
}
.modify-container input{
    margin: 0 auto;
}
.modify-container input{
    margin-bottom: 16px;
}
#addr-container{
    display: flex;
}
#addr-input{
    width: 290px;
    margin-right: 15px;
}
#addr-btn{
    width: 135px;
    padding: 15px;
}
.modify-container button{
    background-color: var(--color-main-navy);
    height: 72px;
    border-radius: 10px;
    color: white;
}
.modify-container button:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}
#btnSec{
    display: flex;
    justify-content: space-between;
}
#btnSec > button{
    flex: 1;
}
#btnSec > button:first-child{
    margin-right: 20px;
}
.error {
    height: 56px;
    align-content: center;
}
.error p {
    display: none;
    color: var(--color-error-red);
    font-size: 14px;
    text-align: center;
}