<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전문가상세(포트폴리오)</title>
</head>
<script src="https://kit.fontawesome.com/98fb4054a6.js" crossorigin="anonymous"></script>

<body>
    <main>
        <section id="expertInfoSec">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <div>
                    <a href="#"><span>oboa</span></a>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-heart" style="display: none"></i>
                </div>

                <div>
                    <!-- 별점 부분 (progress bar/ icon) -->
                    <div></div>
                    <p>5.0 (<span>123</span>)</p>
                </div>

            </div>
        </section>
        <section>
            <section id="portfolioSec">
                <div id="contentNav">
                    <nav>
                        <ul>
                            <li>전문가 소개</li>
                            <li>서비스</li>
                            <li>포트폴리오</li>
                            <li>리뷰</li>
                        </ul>
                    </nav>
                </div>
                <section>
                    <!-- '전문가 소개' 클릭시 보여지는 내용 -->
                    <section class="introduceCont">
                        <h2>전문가 정보</h2>
                        <p>
                            (주)오보아 입니다. nictoinc
                            꼼꼼하게, 최선을 다해서, 친절하게, 대표가 직접 참여하겠습니다.
                            공장처럼, 만들어 내지 않습니다.  하나하나 소통하면서 만들고 있습니다.
                            외주회사들은 외주만 한다고 생각하시죠?. 저희는  개발뿐만 아니라,
                            자체적으로 "앱 서비스 , 소개팅, 채팅 앱"을 운영합니다.
                            단순히 개발뿐 아니라, 앱운영, 마케팅까지 도와드립니다. 기술팀장님들 5명, 10년이상의 개발자님 11명, 디자이너3명,기획자 3명
                        </p>
                        <h2>서비스 상세 설명</h2>
                        <p>
                            연기레슨 고수 차병호입니다. 첫 레슨은 무료로 진행 합니다. 레슨 후 상담까지 받아보시고 결정 하세요. 절대 후회하시지 않으리라 자부합니다. 서초동에 위치한 < 액팅 연습실 > 에서 상시 상담 가능합니다. 배우고자 하시는 분과 협의하여 효율적인 수업을 진행하겠습니다.
                        </p>
                        <h2>경력</h2>
                        <p>
                            총 경력 15년
                              연극영화과 강사
                              2018년 3월 - 현재 · 6년 4개월
                              연극영화과 강의 출강.
                              단편 &lt고양이를 부탁해&gt
                            2022년 7월 - 2022년 8월 · 2개월
                            봉감독 역할로 출연.
                            영화 &lt소년들&gt
                        </p>
                    </section>
                    <!-- '서비스' 클릭시 보여지는 내용 -->
                    <section>

                    </section>
                    <!-- '포트폴리오' 클릭시 보여지는 내용 -->
                    <section>

                    </section>
                    <!-- '리뷰' 클릭시 보여지는 내용 -->
                    <section>

                    </section>
                </section>
            </section>
            <section>
                <div id="startConsultSec">
                    <p><span>ooo</span>전문가님에게 <span>(-전문가타이틀제목-)</span>에 대해 상담요청을 해보세요!</p>
                    <button>상담하기</button>
                </div>
            </section>
        </section>
    </main>

</body>
</html>