<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>새 비밀번호 입력</title>
    <script src="/js/header.js" defer></script>

    <link rel="stylesheet" href="/css/user/findPwNewPw.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">
    <script src="../../static/js/user/findPwNewPw.js" th:src="@{/js/user/findPwNewPw.js}" defer></script>

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section class="find-sec">
            <section class="title-sec">
                <p>새로운 비밀번호</p>
            </section>
            <!-- css를 위한 div-->
            <div id="navFormCon">
                <section id="findNavSec">
                    <nav>
                        <ul>
                            <li><a href="/user/findId">아이디 찾기</a></li>
                            <li><a href="/user/findPW">비밀번호 찾기</a></li>
                        </ul>
                    </nav>
                </section>
                <!-- css를 위한 div-->
                <form action="/user/findPwNewPw" method="post" enctype="multipart/form-data">
                <div id="findCon">
                    <section>
                        <input type="hidden" name="id" th:value="${userId}">
                            <div class="user-input-con">
                                <input type="password" name="password" id="userNewPw" placeholder="새 비밀번호" required>
                                <label for="userNewPw"></label>
                            </div>
                            <div class="user-input-con">
                                <input type="password" name="newPwChk" id="userNewPwChk" placeholder="새 비밀번호 확인" required>
                                <label for="userNewPwChk"></label>
                            </div>
                    </section>
                    <section class="other-page">
                        <ul>
                            <li><a href="/user/login">로그인</a></li>
                        </ul>
                    </section>

                    <!--오류 메세지 부분-->
                    <div class="error">
<!--                        <p id="blank">공백이 포함되었습니다.</p>-->
<!--                        <p>입력한 비밀번호가 <span>서로 일치</span>하지 않습니다.</p>-->
                    </div>
                    <section>
                        <button type="submit" class="find-Btn">확인</button>
                    </section>
                    <section class="register-link-sec">
                        <p>아직 회원이 아니신가요? <a href="register.html">회원가입</a></p>
                    </section>
                </div>
                </form>
            </div>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>