<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script defer src="/js/user/login.js"></script>
    <script src="https://kit.fontawesome.com/98fb4054a6.js" crossorigin="anonymous"></script>
    <script src="/js/header.js" defer></script>

    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/header/header.css">

<!--    <script defer src="/js/user/login.js"></script>-->
</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

<main>
    <section class="login-sec">
        <section class="title-sec">
            <p>로그인</p>
        </section>
        <!-- css를 위한 div-->
        <div id="loginCon">
            <!-- 입력받는 부분 -->
            <section>
                <form id="loginForm" method="post" action="/user/login">
                    <div class="user-input-con">
                        <input type="text" name="id" id="userId" placeholder="아이디" required>
                        <label for="userId"></label>
                    </div>
                    <div class="user-input-con">
                        <input type="password" name="password" id="userPw" placeholder="비밀번호" required>
                        <label for="userPw"></label>
                    </div>
                    <!-- one-line-align(한줄정렬) : css 같은 줄 배치를 위한 div태그 -->
                    <div class="one-line-align">
                        <div class="auto-login">
                            <input type="checkbox" id="rememberId">
                            <label for="rememberId">아이디 자동 저장</label>
                        </div>
                        <div class="other-page">
                            <ul>
                                <li><a href="/user/findId">아이디 찾기</a></li>
                                <li><a href="/user/findPW">비밀번호 찾기</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="error-input error">
                        <!-- 오류 메세지 부분 JS로 display: block 주기-->
                        <p class="err-msg">공백이 포함되었습니다.</p>
                        <p class="err-msg">대/소문자 영어, 숫자를 포함한 5-15자이내로 입력해주세요.</p>
                        <p th:if="${error == true}" class="err-msg err-failure">아이디 또는 비밀번호가 틀렸습니다.</p>
                    </div>
                    <div>
                        <button type="submit" class="login-btn">로그인</button>
                    </div>
                </form>
            </section>
            <section class="other-login-sec">
                <ul>
                    <li>
                        <button type="button" class="other-login-ikon" onclick="location.href='/oauth2/authorization/naver'">
<!--                            <a href="/oauth2/authorization/naver"><img src="/imgs/btnG_아이콘원형.png" alt="(네이버로고)">네이버 로그인</a>-->
                            <img src="/imgs/btnG_아이콘원형.png" alt="(네이버로고)">
                            <span>네이버 로그인</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="other-login-ikon" onclick="location.href='/oauth2/authorization/kakao'">
                            <img src="/imgs/app_KAKAO.png" alt="(카카오로고)">
                            <span>카카오 로그인</span>
                        </button>
                    </li>
                </ul>
            </section>
            <section class="register-link-sec">
                <p>아직 회원이 아니신가요? <a href="/user/register">회원가입</a></p>
            </section>
        </div>
    </section>
</main>



</body>
</html>