<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/regist.css" th:href="@{/css/regist.css}">
    <script src="../static/js/regist.js" th:src="@{/js/regist.js}" defer></script>
</head>
<script src="https://kit.fontawesome.com/98fb4054a6.js" crossorigin="anonymous"></script>
<body>
<main>
    <form action="/regist" id="inputCon" method="post" enctype="multipart/form-data" >
    <section class="registerSec">
        <section class="titleSec">
            <h2>회원가입</h2>
        </section>
        <!-- 입력받는 부분 -->
        <section class="registInputSec">

                <div class="user-input-con">
                    <input type="text" name="id" id="userId" required>
                    <label for="userId">아이디</label>
                    <div class="error-id error">
                        <p>사용가능한 아이디입니다.</p>
                        <p>이미 존재하는 아이디입니다.</p>
                    </div>
                </div>

                <div class="user-input-con">
                    <input type="password" name="pw" id="userPw1" required>
                    <label for="userPw1">비밀번호</label>
                    <div class="check-pw1 error">
                        <p>20자 이내의 비밀번호를 입력해주세요.</p>
                        <p>숫자를 포함한 비밀번호를 입력해주세요.</p>
                        <p></p>
                        <p>공백이 포함되었습니다.</p>
                    </div>
                </div>

                <div class="user-input-con">
                    <input type="password"  id="userPw2" required>
                    <label for="userPw2">비밀번호 확인</label>
                    <div class="error-pw2 error">
                        <p>비밀번호가 일치하지 않습니다.</p>
                        <p>공백이 포함되었습니다.</p>
                    </div>
                </div>

                <div class="user-input-con" id="userPhoneCon">
                    <select name="carrier" id="" required>
                        <option value="" selected disabled>-- 통신사 선택 --</option>
                        <option value="에스케이티">SKT</option>
                        <option value="케이티">KT</option>
                        <option value="엘지유플러스">LG U+</option>
                    </select>
                    <!-- JS로 재 설정 하기 (onfocus, onblur)-->
                    <input type="text" id="userPhone" name="phone" required>
                    <label for="userPhone">휴대폰 번호</label>

                    <button>인증번호 전송</button>
                </div>
                <div class="user-input-con" id="userPhoneChkCon">
                    <input type="text" id="userPhoneChk" required>
                    <label for="userPhoneChk">인증 번호</label>
                    <button>인증번호 확인</button>
                </div>

        </section>

            <!-- 하단 버튼 부분 -->
        <section class="btnSec">
            <div class="register-btn">
                <button type="submit" class="register">회원가입</button>
            </div>
        </section>
        <section class="otherLoginSec">
            <p>이미 계정이 있으신가요?</p>
            <a href="#">로그인</a>
        </section>

    </section>
    </form>
</main>

</body>
</html>