<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>

    <th:block th:insert="~{fragments.html :: cdns}"></th:block>
    <script defer src="/js/user/register.js"></script>
    <script src="/js/header.js" defer></script>

    <!-- 아임포트 -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

    <link rel="stylesheet" href="/css/user/register.css">
    <link rel="stylesheet" href="/css/header/header.css">


</head>
<body>

<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>
<main id="main" th:data-step="${socialUserInfo != null} ? '2' : '1'">
<!--<main id="main" data-step="1">-->
    <div class="content-container">
        <div class="step-container" data-step="1">
            <h1 class="title">본인인증</h1>
            <div class="cert-container">
                <p>회원가입을 위해 본인인증이 필요합니다.</p>
                <button type="button" id="certBtn">
                    <p>본인인증</p>
                    <div class="app-container">
                        <img src="/imgs/app_KAKAO.png" alt="" />
                        <img src="/imgs/app_KAKAOBANK.png" alt="" />
                        <img src="/imgs/app_PASS.png" alt="" />
                        <img src="/imgs/app_PAYCO.png" alt="" />
                        <img src="/imgs/app_TOSS.png" alt="" />
                    </div>
                </button>
            </div>
        </div>
        <div class="step-container" data-step="2">
            <h1 class="title">회원가입</h1>
            <!-- css를 위한 div-->
            <div id="registerCon">
                <!-- 입력받는 부분 -->
                <form id="registerForm">

<!--                    <div th:if="${socialUserInfo != null}">-->
<!--                        <input type="hidden" name="isSocialLogin" value="true">-->
<!--                        <div class="user-input-con">-->
<!--                            <input type="text" name="id" id="userId"  placeholder="아이디">-->
<!--                            <button id="confirmIdDupBtn">중복 확인</button>-->
<!--                        </div>-->
<!--                        <div class="user-input-con">-->
<!--                            <input type="password" name="password" id="userPw1" placeholder="비밀번호 (숫자/문자/영문자를 포함한 8-15자리)">-->
<!--                        </div>-->
<!--                        <div class="user-input-con">-->
<!--                            <input readonly type="text" name="name" th:value="${socialUserInfo.attributes['response']['name']}" placeholder="이름">-->
<!--                        </div>-->
<!--                        <div class="user-input-con">-->
<!--                            <input readonly type="text" name="phone" th:value="${socialUserInfo.attributes['response']['mobile']}" placeholder="휴대폰 번호">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="user-input-con">
                        <input type="text" name="id" id="userId" placeholder="아이디">
                        <button id="confirmIdDupBtn">중복 확인</button>
                    </div>

                    <div class="user-input-con">
                        <input type="password" name="password" id="userPw1" placeholder="비밀번호 (숫자/문자/영문자를 포함한 8-15자리)">
                    </div>

                    <div class="user-input-con">
                        <input readonly type="text" name="name" placeholder="이름" th:if="${socialUserInfo == null}">
                        <input  type="text" name="name" placeholder="이름" th:if="${socialUserInfo != null}">

                    </div>

                    <div class="user-input-con">
                        <input readonly type="text" name="phone" placeholder="휴대폰 번호" th:if="${socialUserInfo == null}">
                        <input  type="text" name="phone" placeholder="휴대폰 번호" th:if="${socialUserInfo != null}">

                    </div>
                    <button class="register-btn">회원가입</button>
                </form>

                <section class="login-link-sec">
                    <p>이미 계정이 있으신가요? <a href="login.html">로그인</a></p>
                </section>

            </div>
        </div>

    </div>

</main>

</body>
</html>