<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>COMMUNITY PAGE</title>
    <script src="/js/header.js" defer></script>
    <script src="/js/board/community/communityMain.js" defer></script>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/board/community/community.css" >
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="commuSec">
            <!-- 고정 헤더 부분 -->
            <section class="top-sec">
                <div class="title-con">
                    <p class="commuTitle">커뮤니티</p>
                </div>
                <div class="search-con">
                    <form method="get" th:action="@{/board/community/communityMain}">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 50 50">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                    </svg>
                    <input type="text" name="keyword" th:value="${title}">
                    </form>
                </div>
            </section>
            <div>
                <button type="button" class="writeBtn" sec:authorize="authenticated">글쓰기</button>
                <button type="button" id="loginBtn" class="writeBtn" sec:authorize="!authenticated">글쓰기</button>
            </div>
            <!-- 사이드 메뉴 영역-->
            <section class="body-sec">
                <aside>
                    <div>
                        <a class="" href="#" th:href="@{/board/community/communityMain}">통합 커뮤니티</a>
                    </div>
                    <ul>
                        <li th:each="board : ${boards}" th:unless="${board.code == 'expert'}">
                            <a th:href="@{/board/community/communityMain(boardCode=${board.code})}" th:text="${board.name}">자유 게시판</a>
                        </li>
<!--                        <li><a href="#">전문가의 후기 게시판</a></li>-->
<!--                        <li><a href="#">간단한 질문 게시판</a></li>-->
                    </ul>
                    <div>
                        <a href="#">전문가 커뮤니티</a>
                    </div>
                    <ul>
                        <li th:each="board : ${boards}" th:if="${board.code == 'expert'}">
                            <a th:href="@{/board/community/communityMain(boardCode='expert')}" th:text="${board.name}">전문가 자유 게시판</a>
<!--                            <a href="#">전문가 자유 게시판</a>-->
                        </li>
                    </ul>
                </aside>
                <!-- 게시글 내용이 보여지는 영역 -->
                <div class="content-con">
                    <table>
                        <colgroup>
                            <col class="no">
                            <col class="title">
                            <col class="write-date">
                            <col class="writer">
                            <col class="like-count">
                            <col class="view-count">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>글 제목</th>
                                <th>날짜</th>
                                <th>작성자</th>
                                <th>추천수</th>
                                <th>조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="article,  stat: ${articles}" th:unless="${article.boardCode == 'customerService'}">
                                <td><a th:href="@{|/board/community/communityPost/${article.id}|}" th:text="${stat.count}"></a></td>
                                <td> <a th:href="@{|/board/community/communityPost/${article.id}|}" th:text="${article.title}"></a></td>
                                <td th:text="${#temporals.format(article.writtenAt, 'yy/MM/dd')}">24/06/27</td>
                                <td th:text="${article.userId}">abc123</td>
                                <td th:text="${article.likeCount}">10</td>
                                <td th:text="${article.view}">10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>