<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
><head>
    <meta charset="UTF-8">
    <title>COMMUNITY PAGE</title>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/board/community/community.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="commuSec">
            <section class="top-sec">
                <div class="title-con">
                    <p class="commuTitle">커뮤니티</p>
                </div>
                <div class="search-con">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 50 50">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                    </svg>
                    <input type="text">
                </div>
            </section>
            <section class="body-sec">
                <aside>
                    <div>
                        <a class="" href="#">통합 커뮤니티</a>
                    </div>
                    <ul>
                        <li><a href="#">자유 게시판</a></li>
                        <li><a href="#">전문가 추천 게시판</a></li>
                        <li><a href="#">전문가의 후기 게시판</a></li>
                        <li><a href="#">간단한 질문 게시판</a></li>
                    </ul>
                    <div>
                        <a href="#">전문가 커뮤니티</a>
                    </div>
                    <ul>
                        <li><a href="#">전문가 자유 게시판</a></li>
                    </ul>
                </aside>
                <section class="content-con postSec">
                    <div id="viewHeader">
                        <div class="headerCategoryCon">
                            <a href="#">통합 커뮤니티</a> >
                            <a href="#">전문가 추천 게시판</a>
                        </div>
                        <div class="postTitleCon">
                            <span>첫 게시글이네요 :)</span>
                        </div>
                        <div id="viewContent">
                            <p>안녕하세요?</p>
                            <p>실력있는 IT인 양성이라는 주제를 가지고, 탄탄한 실력을 쌓고, 네트워킹을 통해 인맥도 늘려갈 수 있도록 돕는 IT 스터디 모임이에요.</p>
                            <p>장점 1. 체계적인 학습 커리큘럼</p>
                            <p>우리 모임의 특, 장점</p>
                            <p>장점 2. 프로젝트 관리를 위한 일정관리 등을 통해 실무 업무 관리능력 향상</p>
                            <p>장점 3. 지속적인 스터디를 통해 효율적으로 공부하여 빠르게 성장</p>
                            <p>장점 4. 서로의 노하우를 공유하여 다양한 지식을 습득</p>
                            <p>장점 5. 네트워킹을 통해 IT 인맥 형성</p>
                            <p>우리 곧 만나요 :)</p>
                            <p>안녕하세요?</p>
                            <p>실력있는 IT인 양성이라는 주제를 가지고, 탄탄한 실력을 쌓고, 네트워킹을 통해 인맥도 늘려갈 수 있도록 돕는 IT 스터디 모임이에요.</p>
                            <p>장점 1. 체계적인 학습 커리큘럼</p>
                            <p>우리 모임의 특, 장점</p>
                            <p>장점 2. 프로젝트 관리를 위한 일정관리 등을 통해 실무 업무 관리능력 향상</p>
                            <p>장점 3. 지속적인 스터디를 통해 효율적으로 공부하여 빠르게 성장</p>
                            <p>장점 4. 서로의 노하우를 공유하여 다양한 지식을 습득</p>
                            <p>장점 5. 네트워킹을 통해 IT 인맥 형성</p>
                            <p>우리 곧 만나요 :)</p>
                            <p>안녕하세요?</p>
                            <p>실력있는 IT인 양성이라는 주제를 가지고, 탄탄한 실력을 쌓고, 네트워킹을 통해 인맥도 늘려갈 수 있도록 돕는 IT 스터디 모임이에요.</p>
                            <p>장점 1. 체계적인 학습 커리큘럼</p>
                            <p>우리 모임의 특, 장점</p>
                            <p>장점 2. 프로젝트 관리를 위한 일정관리 등을 통해 실무 업무 관리능력 향상</p>
                            <p>장점 3. 지속적인 스터디를 통해 효율적으로 공부하여 빠르게 성장</p>
                            <p>장점 4. 서로의 노하우를 공유하여 다양한 지식을 습득</p>
                            <p>장점 5. 네트워킹을 통해 IT 인맥 형성</p>
                            <p>우리 곧 만나요 :)</p>
                            <p>안녕하세요?</p>
                            <p>실력있는 IT인 양성이라는 주제를 가지고, 탄탄한 실력을 쌓고, 네트워킹을 통해 인맥도 늘려갈 수 있도록 돕는 IT 스터디 모임이에요.</p>
                            <p>장점 1. 체계적인 학습 커리큘럼</p>
                            <p>우리 모임의 특, 장점</p>
                            <p>장점 2. 프로젝트 관리를 위한 일정관리 등을 통해 실무 업무 관리능력 향상</p>
                            <p>장점 3. 지속적인 스터디를 통해 효율적으로 공부하여 빠르게 성장</p>
                            <p>장점 4. 서로의 노하우를 공유하여 다양한 지식을 습득</p>
                            <p>장점 5. 네트워킹을 통해 IT 인맥 형성</p>
                            <p>우리 곧 만나요 :)</p>
                            <p>안녕하세요?</p>
                            <p>실력있는 IT인 양성이라는 주제를 가지고, 탄탄한 실력을 쌓고, 네트워킹을 통해 인맥도 늘려갈 수 있도록 돕는 IT 스터디 모임이에요.</p>
                            <p>장점 1. 체계적인 학습 커리큘럼</p>
                            <p>우리 모임의 특, 장점</p>
                            <p>장점 2. 프로젝트 관리를 위한 일정관리 등을 통해 실무 업무 관리능력 향상</p>
                            <p>장점 3. 지속적인 스터디를 통해 효율적으로 공부하여 빠르게 성장</p>
                            <p>장점 4. 서로의 노하우를 공유하여 다양한 지식을 습득</p>
                            <p>장점 5. 네트워킹을 통해 IT 인맥 형성</p>
                            <p>우리 곧 만나요 :)</p>

                        </div>
                    </div>
                    <section id="likeCommentSec">
                        <div id="btnCon">
                            <button id="likeBtn"><i class="fa-regular fa-thumbs-up"></i></button><span>좋아요</span><span class="likeCount"><!-- 좋아요 수 --></span>
                            <i class="fa-regular fa-comment-dots"></i><span>댓글</span><span class="commentCount"><!-- 댓글 수 --></span>
                        </div>
                        <div id="commentInputCon">
                            <input type="text" placeholder="댓글을 남겨보세요.">
                        </div>
                        <div class="commentsCon">
                            <ul class="commentList">
                                <li class="commentCon">
                                    <div class="commentHeaderCon">
                                        <a class="commentWriter" href="#">댓글 작성자</a>
                                        <div class="commentWriteDate">2024. 06. 26</div>
                                        <div class="commentBtnCon">
                                            <button><i class="fa-regular fa-thumbs-up"></i><span>좋아요</span></button>
                                            <button><i class="fa-regular fa-comment-dots"></i><span>댓글 달기</span></button>
                                        </div>
                                    </div>
                                    <div class="commentContent">
                                        <p>팬입니다.
                                            근황 궁금했는데 여기서 뵙게 되네요.
                                            응원하겠습니다.</p>
                                        <p>팬입니다.
                                            근황 궁금했는데 여기서 뵙게 되네요.
                                            응원하겠습니다.</p>
                                    </div>
                                    <div class="comment-delete">
                                        <i class="fa-solid fa-x"></i>
                                    </div>
                                </li>
                                <li class="commentCon">
                                    <div class="commentHeaderCon">
                                        <!-- 해당 작성자의 아이디를 클릭시, 해당 user의 프로필로 이동 -->
                                        <a class="commentWriter" href="#">댓글 작성자</a>
                                        <div class="commentWriteDate">2024. 06. 26</div>
                                        <div class="commentBtnCon">
                                            <button><i class="fa-regular fa-thumbs-up"></i><span>좋아요</span></button>
                                            <button><i class="fa-regular fa-comment-dots"></i><span>댓글 달기</span></button>
                                        </div>
                                    </div>
                                    <div class="commentContent">
                                        <p>팬입니다.
                                            근황 궁금했는데 여기서 뵙게 되네요.
                                            응원하겠습니다.</p>
                                        <p>팬입니다.
                                            근황 궁금했는데 여기서 뵙게 되네요.
                                            응원하겠습니다.</p>
                                        <div class="comment-reply">
                                            <ul>
                                                <li>
                                                    <div class="commentHeaderCon">
                                                        <img src="../../../static/imgs/2199107_forward_arrow_direction_next_right_icon.png"/>
                                                        <div>
                                                            <a class="commentWriter" href="#">댓글 작성자</a>
                                                            <div class="commentWriteDate">2024. 06. 26</div>
                                                            <div class="commentBtnCon">
                                                                <button><i class="fa-regular fa-thumbs-up"></i><span>좋아요</span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="commentContent">
                                                        <p>대 댓글입니다 :).</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </section>
            </section>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>