<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>COMMUNITY PAGE</title>
    <script src="/js/header.js" defer></script>
    <script src="/js/board/community/communityPost.js" defer></script>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <script> var isAuthenticated = /*[[${#authentication.isAuthenticated()}]]*/ false;</script>
    <link rel="stylesheet" href="/css/board/community/community.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="commuSec">
            <section class="top-sec">
                <div class="title-con">
                    <p class="commuTitle">커뮤니티</p>
                </div>
                <div class="search-con">
                    <form th:action="@{/board/community/communityMain}" method="post">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 50 50">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                    </svg>
                        <input type="text" name="keyword" th:value="${title}">
                    </form>
                </div>
            </section>
            <section class="body-sec">
                <aside>
                    <div>
                        <a class="" href="#" th:href="@{/board/community/communityMain}">통합 커뮤니티</a>
                    </div>
                    <ul>
                        <li th:each="board : ${boards}" th:unless="${board.code == 'expert'}">
                            <a th:href="@{/board/community/communityMain(boardCode=${board.code})}" th:text="${board.name}">자유 게시판</a>
                        </li>
                        <!--                        <li><a href="#">전문가의 후기 게시판</a></li>-->
                        <!--                        <li><a href="#">간단한 질문 게시판</a></li>-->
                    </ul>
                    <div>
                        <a th:href="@{/board/community/communityMain(boardCode='expert')}" >전문가 커뮤니티</a>
                    </div>
                    <ul>
                        <li th:each="board : ${boards}" th:if="${board.code == 'expert'}">
                            <a th:href="@{/board/community/communityMain(boardCode='expert')}" th:text="${board.name}">전문가 자유 게시판</a>
                            <!--                            <a href="#">전문가 자유 게시판</a>-->
                        </li>
                    </ul>
                </aside>
                <section class="content-con postSec">
                    <div id="viewHeader">
                        <div class="headerCategoryCon">
                            <a href="#" th:href="@{/board/community/communityMain}">통합 커뮤니티</a> >
                            <a href="#" th:text="${article.board.name}" th:href="@{/board/community/communityMain(boardCode=${article.board.code})}">전문가 추천 게시판</a>
                        </div>
                        <div class="postTitleCon">
                            <span th:text="${article.title}">첫 게시글이네요 :)</span>
                        </div>
                        <div id="viewContent">
                            <p th:text="${article.content}">안녕하세요</p>
                        </div>
                        <div th:if="${not #lists.isEmpty(files)}">
                            <h3>첨부 파일</h3>
                            <ul>
                                <li th:each="file : ${files}">
                                    <a th:href="@{/board/community/download/{fileId}(fileId=${file.id})}" th:text="${file.name}"></a>
                                    <span th:text="${#numbers.formatDecimal(file.size / 1024, 0, 'COMMA', 2, 'POINT')} + ' KB'"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <section id="likeCommentSec">
                        <div id="btnCon">
                            <button id="likeBtn" th:data-article-id="${article.id}">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </button>
                            <span>좋아요</span>
                            <span class="likeCount"  th:text="${article.likeCount}"><!-- 좋아요 수 --></span>
                            <i class="fa-regular fa-comment-dots"></i>
                            <span>댓글</span>
                            <span class="commentCount" th:text="${#lists.size(comments)}">
                                <!-- 댓글 수 -->
                            </span>
                        </div>
                        <div id="commentInputCon">
                            <form th:action="@{/board/community/communityPost/{articleId}(articleId=${article.id})}" method="post">
                                <th:block sec:authorize="authenticated">
                                    <input type="text" name="content" placeholder="댓글을 남겨보세요.">
                                    <input type="hidden" name="articleId" th:value="${article.id}">
                                </th:block>
                                <th:block sec:authorize="!authenticated">
                                    <input type="text" placeholder="댓글을 작성하려면 로그인 해주세요">
                                </th:block>
                            </form>
                        </div>
                        <div class="commentsCon">
                            <ul class="commentList">
                                <li class="commentCon" th:each="comment : ${comments}">
                                    <div class="commentHeaderCon">
                                        <!-- 해당 작성자의 아이디를 클릭시, 해당 user의 프로필로 이동 -->
                                        <a class="commentWriter" href="#" th:text="${comment.userId}" >댓글 작성자</a>
                                        <div class="commentWriteDate" th:text="${#temporals.format(comment.writtenAt, 'yyyy-MM-dd HH:mm')}">2024. 06. 26</div>
                                        <div class="commentBtnCon">
                                            <button class="commentLikeBtn" th:data-comment-id="${comment.id}">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                                <span>좋아요</span>
                                                <span class="commentLikeCount" th:text="${comment.likeCount}">0</span>
                                            </button>
                                            <button>
                                                <i class="fa-regular fa-comment-dots"></i>
                                                <span>댓글 달기</span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="commentContent">
                                        <p th:text="${comment.content}">팬입니다.
                                            근황 궁금했는데 여기서 뵙게 되네요.
                                            응원하겠습니다.</p>
                                    </div>

                                    <div class="comment-delete" th:data-comment-id="${comment.id}" th:if="${#authentication.name == comment.userId}">
                                        <i class="fa-solid fa-x"></i>
                                    </div>
                                </li>
<!--                                <li class="commentCon">-->
<!--                                        <div class="comment-reply">-->
<!--                                            <ul>-->
<!--                                                <li>-->
<!--                                                    <div class="commentHeaderCon">-->
<!--                                                        <img src="../../../static/imgs/2199107_forward_arrow_direction_next_right_icon.png" th:src="@{/imgs/2199107_forward_arrow_direction_next_right_icon.png}" alt="#"/>-->
<!--                                                        <div>-->
<!--                                                            <a class="commentWriter" href="#">댓글 작성자</a>-->
<!--                                                            <div class="commentWriteDate">2024. 06. 26</div>-->
<!--                                                            <div class="commentBtnCon">-->
<!--                                                                <button><i class="fa-regular fa-thumbs-up"></i><span>좋아요</span></button>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="commentContent">-->
<!--                                                        <p >대 댓글입니다 :).</p>-->
<!--                                                    </div>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                            </div>-->
<!--                                        </li>-->
                                    </ul>
                                </div>
                    </section>
                </section>
            </section>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>