<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>COMMUNITY PAGE</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/css/common.css">
    <link rel="stylesheet" href="../../../static/css/board/community/communityMain.css">
</head>
<body>
    <main>
        <section id="commuSec">
            <section class="headerSec">
                <div class="titleCon">
                    <p class="commuTitle">커뮤니티</p>
                </div>
                <div class="searchCon">
                    <input type="text">
                </div>
            </section>
            <section class="bodySec">
                <aside class="categoryCon">
                    <a class="" href="#">통합 커뮤니티</a>
                    <ul>
                        <li><a href="#">자유 게시판</a></li>
                        <li><a href="#">전문가 추천 게시판</a></li>
                        <li><a href="#">전문가의 후기 게시판</a></li>
                        <li><a href="#">간단한 질문 게시판</a></li>
                    </ul>
                    <a href="#">전문가 커뮤니티</a>
                    <ul>
                        <li><a href="#">전문가 자유 게시판</a></li>
                    </ul>
                </aside>
                <div class="contentCon">
                    <table>
                        <thead>
                            <tr>
                                <td>추천수</td>
                                <td>글 제목</td>
                                <td>조회수</td>
                                <td>날짜</td>
                                <td>작성자</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>게시글</td>
                                <td>10</td>
                                <td>24/06/27</td>
                                <td>abc123</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>게시글</td>
                                <td>10</td>
                                <td>24/06/27</td>
                                <td>abc123</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>게시글</td>
                                <td>10</td>
                                <td>24/06/27</td>
                                <td>abc123</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>게시글</td>
                                <td>10</td>
                                <td>24/06/27</td>
                                <td>abc123</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>게시글</td>
                                <td>10</td>
                                <td>24/06/27</td>
                                <td>abc123</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>게시글</td>
                                <td>10</td>
                                <td>24/06/27</td>
                                <td>abc123</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </main>
</body>
</html>