@import "../common.css";
.login-sec {
    margin: 132px auto;
    width: 520px;
}

.login-sec .title-sec {
    color: var(--color-dark-gray);
    font-size: 40px;
    font-weight: lighter;
}

#loginCon {
    margin-top: 48px;
    padding: 32px 40px;
    /*position: absolute;*/
    border-radius: 20px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}


.user-input-con input{
    margin-bottom: 24px;
    padding: 24px 16px;
    width: 100%;
    height: 72px;
    border: 1px solid var(--color-lighter-gray);
    border-radius: 9px;
    font-size: 16px;
}
.user-input-con:last-child input{
    margin-bottom: 16px;
}

/* placeholder 글자 색 변경 */
.user-input-con input::placeholder{
    color: var(--color-light-gray);
}


/* 오류 메세지 */
.error {
    height: 56px;
    padding-top: 24px;
}
.error p{
    display: none;
    color: var(--color-error-red);
    font-size: 14px;
    text-align: center;
}
.error span {
    font-weight: bold;
}


/* 로그인 버튼 */
.login-btn {
    margin: 8px 0;
    width: 100%;
    height: 72px;
    color: #ffffff;
    background-color: var(--color-main-navy);
    border-radius: 9px;
    font-weight: bolder;
    font-size: 16px;
}
.login-btn:hover {
    color: var(--color-main-navy);
    background: var(--color-light-blue);
}


/* 일반 로그인으로 이동 */
.login-link-sec p{
    margin-top: 16px;
    color: var(--color-medium-gray);
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}
.login-link-sec a{
    font-weight: bold;
    color: var(--color-medium-blue);
}