@import "../common.css";
.total-sec {
    margin: 132px auto;
    width: 1104px;
}

.logo-sec {
    width: 100%;
    height: 300px;
}
.logo-sec > div {
    margin: 0 auto;
    width: 600px;
    height: 300px;
    background-image: url(../../imgs/CloseUp-navy-admin-removebg.png);
    background-repeat: no-repeat;
    background-position: center center;
}

#selectSec {
    width: 100%;
    margin-top: 80px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
#selectSec > div {
    width: 352px;
    height: 72px;
    padding: 24px 16px;
    border-radius: 9px;
    font-size: 16px;
    display: inline-block;
    color: var(--color-main-navy);
    background-color: var(--color-light-blue);
    box-shadow: var(--box-shadow);
}
#selectSec > div:hover , #selectSec > div:hover > a {
    color: var(--color-light-blue);
    background-color: var(--color-main-navy);

}

