#headerSec {
    display: flex;
    width: 100vw;
    height: 104px;
    align-items: center;
    background-image: url(../../image/CloseUp-white-admin-removebg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    background-color: #152C4F;
}
