@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "./user/myPage/chatRecord.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* 페이지 색상 */

    --color-lighter-gray: rgba(228, 228, 231, 0.5);
    --color-light-gray: #C0C0C0;
    --color-medium-gray: #71717A;
    --color-dark-gray: #2c2c2c;

    --color-lighter-bluegray: #F8FAFC;
    --color-light-blue: #EDF2F8;
    --color-medium-blue: #2563EB;
    /* 메인 색상 네이비*/
    --color-main-navy: #152C4F;
    --color-navy-blur: rgba(21, 44, 79, 0.9);

    --color-error-red: #D93F21;

    /* box-shadow 통일 */
    --box-shadow : 0 3px 11px rgba(0, 0, 0, 0.06), 0 10px 15px rgba(0, 0, 0, 0.03);
}

body {
    font-family: Pretendard;
}

ul, li {
    list-style: none;
}

button {
    border: none;
    background-color: unset;
    cursor: pointer;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

.spring {
    flex: 1;
}

header {
    height: 100px;
}

.content-container {
    max-width: 1104px;
    margin: 0 auto;
}

header .content-container {
    position: relative;
    max-width: 1700px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
}

body {
    background-color: #F8FAFC;
}

footer {
    height: 150px;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#chatDialog {
    overflow: hidden;
    width: 700px;
    height: 600px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #666;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    right: -800px;
    opacity: 0;

    transition-property: right, opacity;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

#chatDialog.visible {
    right: 220px;
    opacity: 1;
}

#chatDialog .content {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chatDialog #chatListSec,
#chatDialog #infoSec,
#chatDialog #chatViewSec {
    background-color: #ffffff;
    height: 100%;
    position: absolute;
}

#chatDialog #chatListSec {
    left: -330px;
    z-index: 1;

    transition-property: left;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

#chatDialog #chatListSec.visible {
    left: 0;
}

#chatDialog #infoSec {
    right: -250px;
    width: 250px;
    z-index: 1;
    border-left: 2px solid rgba(0, 0, 0, 0.1);

    transition-property: right;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

#chatDialog #infoSec.visible {
    right: 0;
}

#chatDialog #chatListSec h3 {
    margin-bottom: 0;
    display: inline-block;
}

#chatDialog .toggle-chat-list-sec-icon {
    font-size: 20px;
    cursor: pointer;
}

#chatDialog .toggle-chat-list-sec-icon::before {
    margin-right: 5px;
}

#chatDialog .search-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#chatDialog #chatViewSec {
    width: 100%;
}

#chatDialog #chatMsgSec {
    height: 75%;
}

#chatDialog #chatViewTop {
    height: 15%;
}

#chatDialog #chatViewTop .non-selected {
    display: block;
    height: 100%;
}

#chatDialog #chatViewTop .selected > div > div {
    width: 180px;
}

#chatDialog #topProfileContainer {
    cursor: pointer;
}
#chatDialog #map {
    width: 100%;
}

#chatDialog #closeChatDialogIcon {
    cursor: pointer;
    float: right;
}

#chatDialog .side-btn-container {
    color: unset;
}

#chatDialog #topProfileName {
    font-size: 18px;
    font-weight: 600;
}

#chatDialog .side-btn-container {
    color: unset;
}

#chatDialog #topProfileName {
    font-size: 18px;
    font-weight: 600;
}