input, button{
    display: block;
    width: 440px;
    height: 72px;
    border-radius: 10px;
    padding: 15px;
}
#modify-section{
    max-width: 1104px;
    margin: 0 auto;
    height: 100vh;
}
.modify-container{
    position: relative;
    top: 300px;
    margin: 0 auto;
    width: 520px;
    height: 400px;
    text-align: center;
}
.modify-title{
    margin-bottom: 20px;
}
.modify-input-container{
    background-color: white;
    height: 266px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px darkgray;
}
.modify-input-container > input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.modify-input-container > button{
    background-color: midnightblue;
    color: white;
}