<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주변전문가</title>
</head>
<script src="https://kit.fontawesome.com/98fb4054a6.js" crossorigin="anonymous"></script>

<body>
    <main>
        <section>
            <section id="currentLoca">
                <div>
                    <i class="fa-solid fa-location-crosshairs"></i>
                </div>
                <div>
                    <b>현재 위치</b>
                    <p>대구광역시 달구벌대로 618번길 21</p>
                </div>
            </section>
            <section>
                <div id="expertMap"></div>
                <div id="MapOnMarker"></div>
                <section id="expertInfoListSec">
                    <div class="expertInfo">
                        <img src="" alt="">
                        <div>
                            <b>드림위드컴퍼니</b>
                            <p>홈페이지 전문 제작회사 드림위드 컴퍼니</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <span>5.0 </span>(<span>123</span>)
                        </div>
                    </div>
                    <section id="listArrow">
                        <div>
                            <i class="fa-solid fa-caret-left"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </main>

</body>
</html>