<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<th:block th:fragment="cdns">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- 아임포트 cdn -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</th:block>

<header th:fragment="header_fragment">
    <div class="content-container">
        <a class="logo" href="/">
            <img src="https://fontmeme.com/permalink/240702/4e102425bebd6f493cbad8015d29556d.png" alt="berry-pearl-font" border="0">
        </a>
        <ul>
            <li>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA9klEQVR4nL3UTSvFQRiG8Z/XjtixYCWJHRv5JlIslZedDgvZyFKSLUXYONkhliSrg+R8JJqa5Wn+Mzpc67trep65Z/gnprCPRzRxi02MlIp6cIgXLGAUfRjHOj6xkivrQgM7iUwN19jOEa7hKCPXiyfMpULdaGEw52TM4C4VmMeZMt7jCtqyjLoyGrENbVnCljJuMJ0a+bxQ+IGB1KV8YShTNov7qtAqjgtqE6aqLHYo7W4iU4uX0YxTZT29A7xiEWPoxwQ24lqe8Y3LXGlgEnt4wFsscajVcJRc/UZatZ7Tv5CedFoaJBdRGlbUEYI0yIo/3yx+AGd+K3bJmkjeAAAAAElFTkSuQmCC">
            </li>
            <li>
                <a href="#">주변 전문가</a>
            </li>
            <li>
                <a href="#">커뮤니티</a>
            </li>
            <li>
                <a href="#">문의</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="#">로그인</a>
            </li>
            <li>
                <a href="/user/register">회원가입</a>
            </li>
        </ul>
    </div>
</header>

</body>
</html>