<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CloseUp</title>

    <th:block th:insert="~{fragments.html :: cdns}"></th:block>
    <script src="https://kit.fontawesome.com/98fb4054a6.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>

<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

<main>
    <div class="content-container">
<!--        <button id="testBtn">본인인증 테스트</button>-->
        <h1>모든 IT 전문가를 찾는 방법</h1>
        <p>내 주변 000명의 IT 전문가와 만나보세요.</p>
        <div class="search-container">
            <button>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA9klEQVR4nL3UTSvFQRiG8Z/XjtixYCWJHRv5JlIslZedDgvZyFKSLUXYONkhliSrg+R8JJqa5Wn+Mzpc67trep65Z/gnprCPRzRxi02MlIp6cIgXLGAUfRjHOj6xkivrQgM7iUwN19jOEa7hKCPXiyfMpULdaGEw52TM4C4VmMeZMt7jCtqyjLoyGrENbVnCljJuMJ0a+bxQ+IGB1KV8YShTNov7qtAqjgtqE6aqLHYo7W4iU4uX0YxTZT29A7xiEWPoxwQ24lqe8Y3LXGlgEnt4wFsscajVcJRc/UZatZ7Tv5CedFoaJBdRGlbUEYI0yIo/3yx+AGd+K3bJmkjeAAAAAElFTkSuQmCC">
            </button>
            <input type="text" placeholder="어떤 IT 전문가를 찾으세요?   ex) 웹개발, 백엔드, ...">
        </div>
        <div class="category-container">
            <button style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
            <button style="background-color:#FDF4C7; color: #FF9900;">Design</button>
            <button style="background-color:#E3F1FF; color: #167EE6;">Java</button>
            <button style="background-color:#98ffb0; color: #0C9059;">Python</button>
            <button style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
            <button style="background-color:#E9D2FF; color: #6941C6;">Back-End</button>
            <button style="background-color:#C5CDFE; color: darkblue;">APP</button>
            <button style="background-color:#E7F0DC; color: #729762;">SpringBoot</button>
            <button style="background-color:#a1e7ff; color: #174fa3;">React</button>
            <button style="background-color:#ffd3eb; color: #930346;">MySQL</button>
            <button style="background-color:#ffcca9; color: #8a5930;">Node.js</button>
        </div>
        <div class="sort-container">
            <ul>
                <li>인기 순</li>
                <li>최근 순</li>
                <li>날짜 순</li>
            </ul>
        </div>
        <div class="profile-container">
            <div class="profile">프로필</div>
            <div class="profile">프로필</div>
            <div class="profile">프로필</div>
            <div class="profile">프로필</div>
            <div class="profile">프로필</div>
            <div class="profile">프로필</div>
            <div class="profile">프로필</div>
            <div class="profile">프로필</div>
        </div>
    </div>
    <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

</main>

<footer>
    <a class="logo" href="/">
        <img src="../static/imgs/CloseUp-navy-admin-removebg.png" alt="logo"/>
    </a>
    <p>&copy; 2024 CloseUp All Rights Reserved.</p>
</footer>

</body>
</html>