<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/header.js" defer></script>
    <script src="/js/board/CSCenter/CSMain.js" defer></script>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/board/CSCenter/CSMain.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">


</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
    <!--    <th:block th:if="${isError}">-->
    <!--        <script>-->
    <!--            alert('해당 게시물은 비밀번호를 입력해야 합니다!');-->
    <!--        </script>-->
    <!--    </th:block>-->
        <!-- 상단 전체 -->
        <section class="total-top">
            <section class="title-sec">
                <p>고객 센터</p>
            </section>


            <!-- 상단 고객센터 메뉴 -->
            <section class="top-navBtn">
                <button><a href="/board/cs/faq">FnQ</a></button>
                <button><a href="/board/cs/one_on_one">1:1 문의</a></button>
                <button><a href="board/cs/notice">공지사항</a></button>
            </section>

            <!-- 검색창 부분 -->
            <section class="top-input">
                <input type="text" name="search" th:value="${keyword}" placeholder="질문 키워드를 입력해주세요.">
                <div class="keyword-con">
                    <!--                <div id="keyword_title_con">-->
                    <!--                    <p>인기 키워드</p>-->
                    <!--                </div>-->
                    <div id="keywordBtns">
                        <button value="userInfo" type="button"><span>#회원</span></button>
                        <button value="payment" type="button"><span>#결제</span></button>
                        <button value="review" type="button"><span>#리뷰</span></button>
                        <button value="addExpert" type="button"><span>#전문가</span></button>
                        <button value="chat" type="button"><span>#채팅</span></button>
                        <button value="refund" type="button"><span>#환불</span></button>
                    </div>
                </div>
            </section>
        </section>

        <section class="faq-board-section">
            <div>
                <button type="button" class="faq-write-btn">글쓰기</button>
            </div>
            <table>
                <colgroup>
                    <col class="no">
                    <col class="title">
                    <col class="writer">
                    <col class="write-date">
                    <col class="view-count">
                    <col class="like-count">
                </colgroup>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성 날짜</th>
                    <th>조회 수</th>
                    <th>추천 수</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>(번호)</td>
                    <td>
                        <a href="#">(제목)</a>
                    </td>
                    <td>(작성자)</td>
                    <td>(작성날짜)</td>
                    <td>(조회수)</td>
                    <td>(추천수)</td>
                </tr>
                </tbody>
            </table>


            <nav class="pagination-nav">
                <ul class="pagination">
                    <li><a href="#"><i class="fa-solid fa-angle-left"></i></a></li>
                    <li active><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa-solid fa-angle-right"></i></a></li>
                </ul>
            </nav>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>