@import "../common.css";

#modifySection{
    max-width: 1104px;
    margin: 80px auto;
    height: 100vh;
}
.modify-container{
    position: relative;
    margin: 0 auto;
    width: 800px;
}
#titleSec{
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: left;
}
/************************************/
.modify-container > form{
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
#infoSection{
    margin-bottom: 30px;
}
#infoSection textarea{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    resize: none;
}
/****************************************/
#duplicateBtn{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-main-navy);
    color: white;
}
#duplicateBtn:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}
#introTextareaContainer textarea{
    width: 100%;
    height: 150px;
}
.textarea-container{
    display: flex;
}
.textarea-container > label{
    flex: 1;
    margin-right: 10px;
}
.textarea-container input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.input-btn{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-main-navy);
    color: white;
}
.input-btn:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}
.select-container select{
    width: 150px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/********************************/
.info-container{
    margin-bottom: 40px;
}
.sub-title {
    margin-bottom: 16px;
    color: var(--color-error-red);
}
.sub-title span{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    margin-bottom: 10px;
}
.container{
    height: 25px;
    display: flex;
}
.container label{
    align-content: center;
}
.container input{
    margin-right: 4px;
    align-content: center;
}
.tags-container > div{
    display: inline-block;
    padding: 3px 10px;
    margin-right: 4px;
    height: 25px;
    align-content: center;
    border-radius: 15px;
    background-color: var(--color-lighter-gray);
    color: var(--color-medium-gray);
}
.tags{
    margin-bottom: 8px;
}
.tags > p{
    display: inline-block;
    margin-right: 5px;
}
.tags i{
    color: var(--color-medium-gray);
}
/*************************************/
.addr-container{
    display: flex;
    margin-bottom: 8px;
}
.addr-container input{
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#zipcodeInput, #addressDetailInput{
    flex: 1;
}
#zipcodeInput{
    margin-right: 8px;
}
#addressInput{
    width: 240px;
    margin-right: 8px;
}
#addressFindBtn{
    align-content: center;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--color-main-navy);
    color: var(--color-lighter-bluegray);
}
#addressFindBtn:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}


/*************************************/
#portfolioSection{
    margin-bottom: 40px;
}
#titleContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#titleContainer > p{
    align-content: center;
    margin-bottom: unset;
}
#portfolioWriteBtn{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-main-navy);
    color: white;
}
#portfolioWriteBtn:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}
.embla{
    position: relative;
    overflow: hidden;
}
.embla__container{
    display: flex;
}
.embla__slide{
    width: 240px;
    height: 300px;
}
.embla__slide:not(:last-child){
    margin-right: 20px;
}
.img-container img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
}
.title-container > a{
    display: block;
}
.portfolio-title{
    font-size: 18px;
    font-weight: bold;
}
.embla-btn-container{
    position: absolute;
    display: flex;
    width: 100%;
    top: 150px;
    justify-content: space-between;
}
.embla-btn-container > button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.embla-btn-container > button:hover{
    background-color: var(--color-main-navy);
    color: var(--color-lighter-bluegray);
}
/************************************/
#btnSec{
    display: flex;
    justify-content: space-between;
}
#btnSec > button{
    flex: 1;
    height: 72px;
    padding: 15px;
    background-color: var(--color-main-navy);
    color: white;
    border-radius: 20px;
}
#btnSec > button:hover{
    background-color: var(--color-lighter-bluegray);
    color: var(--color-main-navy);
}
#btnSec > button:first-child{
    margin-right: 20px;
}
