@import "../../../common.css";

#userMainSec{
    max-width: 1104px;
    height: 100vh;
    margin: 0 auto;
}

#userMainSec > div{
    position: relative;
    top: 150px;
}
#userProfileSection{
    margin-bottom: 20px;
}
#userProfileSection > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#userProfileSection img{
    width: 250px;
    height: 250px;
}
#titleSec{
    color: var(--color-dark-gray);
    font-size: 40px;
    font-weight: lighter;
}
#userProfileImgContainer{
    width: 250px;
    margin-left: 20px;
}
/***********************************/
#userCategorySection > ul{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
.user-category-list{
    width: 368px;
    height: 300px;
    padding-top: 70px;
    text-align: center;
}
.user-category-list > a > i{
    margin-bottom: 20px;
    font-size: 40px;
}
.category-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.category-desc > p{
    margin-bottom: 5px;
}
.border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.user-category-list:not(.non){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}