<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>전문가 찾기</title>
    <script src="/js/header.js" defer></script>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">
    <link rel="stylesheet" href="/css/board/findExpert/findExpertMain.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="findExpertSec">
            <section id="headerSec">
                <div id="headerTitleCon">
                    <div id="headerCategoryCon">
                        <a href="#">홈</a>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="#">Front-end</a>
                    </div>
                    <p id="findExpertTitle">Front-end</p>
                </div>
                <div id="searchCon">
                    <label for="searchInput" id="searchLabel">
                        <button type="button"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 50 50">
                            <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                        </svg>
                        </button>
                        <input type="text" placeholder="검색" id="searchInput">
                    </label>
                    <label>
                        <select>
                            <option selected>최신순</option>
                            <option>인기순</option>
                            <option>추천순</option>
                            <option>평점순</option>
                            <option>응답순</option>
                        </select>
                    </label>
                </div>
            </section>
            <section id="bodySec">
                <section id="categorySec">
                    <ul>
                        <li class="category-lies" active><a href="#">Front-end</a></li>
                        <li class="category-lies"><a href="#">Back-end</a></li>
                        <li class="category-lies"><a href="#">JAVA</a></li>
                        <li class="category-lies"><a href="#">Python</a></li>
                        <li class="category-lies"><a href="#">서버 개발</a></li>
                        <li class="category-lies"><a href="#">앱 개발</a></li>
                        <li class="category-lies"><a href="#">웹 페이지</a></li>
                        <li class="category-lies"><a href="#">데이터베이스</a></li>
                    </ul>
                </section>
                <section id="serviceListSec">
                    <ul id="serviceList">
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="#">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="/">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="#">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="#">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="#">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="#">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="#">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="#">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                        <li class="service-lies">
                            <div class="img-con">
                                <!-- 서비스 이미지 -->
                                <img src="https://www.shutterstock.com/ko/blog/wp-content/uploads/sites/17/2019/11/aspect-ratio-banner.jpg?w=1200&h=800&crop=1" alt="#">
                            </div>
                            <div class="info-con">
                                <div class="info-writer">
                                    <a href="#">작성자</a>
                                </div>
                                <div class="info-title">
                                    <a href="#">(서비스 제목)</a>
                                </div>
                                <div class="info-desc">
                                    <a href="#">(서비스 간단 설명)</a>
                                </div>
                                <div class="info-category">
                                    <button type="button" style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                    <button type="button" style="background-color:#E3F1FF; color: #167EE6;">Java</button>
                                    <button type="button" style="background-color:#FDE7E0; color: #A0855B;">WEB</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
            <section id="paginationSec">
                <nav id="paginationNav">
                    <ul class="pagination">
                        <li><a href="#"><i class="fa-solid fa-caret-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa-solid fa-caret-right"></i></a></li>
                    </ul>
                </nav>
            </section>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>