<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN | 회원 관리</title>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/admin/manage/manage.css" th:href="@{/css/admin/manage/manage.css}">
    <link rel="stylesheet" href="/css/header/header.css" th:href="@{/css/header/header.css}">
    <script src="../../../static/js/admin/admin.js" th:src="@{/js/admin/admin.js}" defer></script>


</head>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

<body>
    <main>
        <!-- css를 위한 div -->
        <div id="totalCon">
            <!-- 메인 메뉴 사이드바 -->
            <section class="manage-sec">
                <aside class="main-nav-sec">
                    <nav>
                        <ul>
                            <li>
                                <a href="/admin/manage/member">회원</a>
                            </li>
                            <li>
                                <a href="/admin/manage/post">게시글</a>
                            </li>
                            <li>
                                <a href="/admin/manage/review">리뷰</a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <div>
                    <!-- 내부 서브 사이드바 -->
                    <aside class="sub-nav-sec">
                        <section class="logo-sec">
                            <!-- 로고 이미지 -->
                            <div></div>
                        </section>
                        <nav>
                            <ul>
                                <li><a th:href="@{/admin/manage/member}"><i class="fa-solid fa-list-ul"></i>전체</a></li>
                                <li><a th:href="@{/admin/manage/member/ROLE_USER}">일반 사용자</a></li>
                                <li><a th:href="@{/admin/manage/member/ROLE_EXPERT}">전문가</a></li>
                                <li><a th:href="@{/admin/manage/member/ROLE_ADMIN}">관리자</a></li>
                            </ul>
                        </nav>
                    </aside>
                    <section class="manage-view-sec">
                        <!-- 메인 타이틀 -->
                        <section class="title-sec">
                            <div id="mainTitle">
                                <p>회원 관리</p>
                                <button>
                                    <div id="alertMark"></div>
                                    <i class="fa-regular fa-bell"></i>
                                </button>
                            </div>
                            <!-- 서브 타이틀 -->
                            <div id="subTilte">
                                <p><span>전체</span> 회원 정보</p>
                            </div>
                        </section>
                        <!-- 검색 -->
                        <form th:action="@{/admin/manage/member/search}" method="get" autocomplete="off">
                        <section id="searchInputSec">
                            <div>
                                <label for="userName">회원 이름</label>
                                <input type="text" id="userName" name="name" th:value="${name}" placeholder="이름 입력">
                            </div>
                            <div>
                                <label for="userId">아이디</label>
                                <input type="text" id="userId" name="id" th:value="${id}"  placeholder="아이디 입력">
                            </div>
                            <div>
                                <label for="joinDate">전문가 등록여부</label>
                                <input type="text" id="joinDate" name="expert"  placeholder="ex)true, false">
                            </div>
                            <div>
                                <label for="userPhone">휴대폰 번호</label>
                                <input type="text" id="userPhone" name="phone" th:value="${phone}"  placeholder="휴대폰 번호 입력">
                            </div>
                        </section>
                        </form>
                        <!-- 검색 결과 테이블 -->
                        <section id="searchViewSec">
                            <table>
                                <colgroup>
                                    <col class="select">
                                    <col class="id">
                                    <col class="name">
                                    <col class="phone-num">
                                    <col class="join-date">
                                    <col class="add-expert">
                                    <col class="favorites-count">
                                    <col class="modify-delete-btn">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><input type="radio"><b>전체 선택</b></th>
                                    <th><b>아이디</b></th>
                                    <th><b>이름</b></th>
                                    <th><b>휴대폰 번호</b></th>
                                    <th><b>전문가 등록 여부</b></th>
                                     <th><b>역할</b></th>
<!--                                    <th><b>즐겨찾기 수</b></th>-->
                                    <th>
                                        <b>수정 | 삭제</b>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user : ${users}">
                                        <td><input type="radio" ></td>
                                        <td><span th:text="${user.id}">아이디</span></td>
                                        <td><span th:text="${user.name}">이름</span></td>
                                        <td><span th:text="${user.phone}">휴대폰 번호</span></td>
<!--                                        <td><span >즐겨찾기 수</span></td>-->
                                        <td><span th:text="${user.isSuspended}">가입 날짜</span></td>
                                        <td><span th:text="${user.role}">전문가 등록 여부</span></td>

                                        <td>
<!--                                            <input type="button" id="modifyBtn" value="수정">-->
<!--                                            <input type="button" id="deleteBtn" value="삭제">-->
                                            <a th:href="@{/admin/manage/member/edit/{id}(id=${user.id})}">수정</a>
                                            <a th:href="@{/admin/manage/member/delete/{id}(id=${user.id})}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </section>
                </div>
            </section>
        </div>
    </main>
</body>
</html>
