<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN | 게시글 관리</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/admin/manage/manage.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <script src="../../../static/js/admin/admin.js" th:src="@{/js/admin/admin.js}" defer></script>

</head>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

<body>
    <main>
        <!-- 제일 좌측 메인 카테고리 -->
        <div id="totalCon">
            <section class="manage-sec">
                <aside class="main-nav-sec">
                    <nav>
                        <ul>
                            <li>
                                <a href="/admin/manage/member">회원</a>
                            </li>
                            <li>
                                <a href="/admin/manage/post">게시글</a>
                            </li>
                            <li>
                                <a href="/admin/manage/review">리뷰</a>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <div>
                    <!-- 내부 서브 카테고리 -->
                    <aside class="sub-nav-sec">
                        <section class="logo-sec">
                            <!-- 로고 이미지 -->
                            <div onclick=></div>

                        </section>
                        <nav>
                            <ul>
                                <li><i class="fa-solid fa-list-ul"></i><a href="/admin/manage/post">전체</a></li>
                                <li ><a th:href="@{/admin/manage/post/expert}">전문가 자유 게시판</a></li>
                                <li ><a th:href="@{/admin/manage/post/expertrecommendation}">전문가 추천 게시판</a></li>
                                <li ><a th:href="@{/admin/manage/post/expertReview}">전문가의 후기 게시판</a></li>
                                <li ><a th:href="@{/admin/manage/post/free}">자유 게시판</a></li>
                                <li ><a th:href="@{/admin/manage/post/question}">간단한 질문 게시판</a></li>
                                <li><a th:href="@{/admin/manage/post/customerService}">문의</a></li>
                                <li><a href="#"><i class="fa-solid fa-gear"></i>설정</a></li>
                            </ul>
                        </nav>
                    </aside>
                    <section class="manage-view-sec">
                        <!-- 메인 타이틀 -->
                        <section class="title-sec">
                            <div id="mainTitle">
                                <p>게시글 관리</p>
                                <button>
                                    <div id="alertMark"></div>
                                    <i class="fa-regular fa-bell"></i>
                                </button>
                            </div>
                            <!-- 서브 타이틀 -->
                            <div id="subTilte">
                                <p><span>전체</span> 게시글 정보</p>
                            </div>
                        </section>
                        <!-- 검색 -->
                        <form th:action="@{/admin/manage/post/search}" method="get" autocomplete="off">
                        <section id="searchInputSec">
                            <div>
                                <label for="userName">작성한 회원 아이디</label>
                                <input type="text" id="userName" name="userId" placeholder="아이디 입력">
                            </div>
                            <div>
                                <label for="postTitle">제목</label>
                                <input type="text" id="postTitle" name="title" placeholder="제목 입력">
                            </div>
                            <div>
                                <label for="writeDate">작성 날짜</label>
                                <input type="date" id="writeDate" name="dateTime" placeholder="날짜 입력">
                            </div>
                            <div>
                                <label for="postContent">내용</label>
                                <input type="text" id="postContent" name="content" placeholder="내용 입력">
                            </div>
                        </section>
                        </form>
                        <!-- 검색 결과 테이블 -->
                        <section id="searchViewSec">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><b>게시글 분류</b></th>
                                    <th><b>게시글 번호</b></th>
                                    <th><b>작성자</b></th>
                                    <th><b>제목</b></th>
                                    <th><b>작성 날짜</b></th>
                                    <th><b>조회수</b></th>
                                    <th>
                                        <b>수정 | 삭제</b>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="article, stat: ${articles}">
                                    <td><span th:text="${article.boardName}">게시글 분류</span></td>
                                    <td><span th:text="${stat.count}">게시글 번호</span></td>
                                    <td><span th:text="${article.userId}">작성자</span></td>
                                    <td><span th:text="${article.title}">제목</span></td>
                                    <td><span th:text="${#temporals.format(article.writtenAt, 'yy/MM/dd')}">작성 날짜</span></td>
                                    <td><span th:text="${article.view}">조회수</span></td>
                                    <td>
<!--                                        <input type="button" id="modifyBtn" value="수정">-->
<!--                                        <input type="button" id="deleteBtn" value="삭제">-->
                                        <a th:href="@{/board/community/communityWrite/{id}(id=${article.id})}">수정</a>
<!--                                        <a th:href="@{/board/community/communityWrite/{id}(id=${article.id})}" th:if="${article.boardName != '문의'}">수정</a>-->

                                        <a th:href="@{/admin/manage/post/delete/{id}(id=${article.id})}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </section>
                </div>
            </section>
        </div>
    </main>
</body>
</html>
