<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>PAYMENT PAGE</title>
</head>
<body>
    <main>
        <section>
            <h1 class="paymentTitle">결제 내역 페이지</h1>
            <div id="paymentHeaderCon">
                <h3 class="tableTitle">결제 내역</h3>
                <div class="selectCon">
                    <label>
                        <select>
                            <option>최신순</option>
                            <option>오래된순</option>
                        </select>
                    </label>
                    <button class="deleteBtn">삭제</button>
                </div>
            </div>
            <table id="paymentTable">
                <thead id="paymentThead">
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>서비스명</th>
                        <th>날짜</th>
                        <th>금액</th>
                        <th>전문가</th>
                    </tr>
                </thead>
                <tbody id="paymentTbody">
                    <tr class="paymentRow">
                        <td><input type="checkbox"></td>
                        <td>홈페이지 전문 제작</td>
                        <td>Jun 21, 2024</td>
                        <td>880,000원</td>
                        <td>주식회사드림위드컴퍼니</td>
                    </tr>
                    <tr class="paymentRow">
                        <td><input type="checkbox"></td>
                        <td>홈페이지 전문 제작</td>
                        <td>Jun 21, 2024</td>
                        <td>880,000원</td>
                        <td>주식회사드림위드컴퍼니</td>
                    </tr>
                    <tr class="paymentRow">
                        <td><input type="checkbox"></td>
                        <td>홈페이지 전문 제작</td>
                        <td>Jun 21, 2024</td>
                        <td>880,000원</td>
                        <td>주식회사드림위드컴퍼니</td>
                    </tr>
                    <tr class="paymentRow">
                        <td><input type="checkbox"></td>
                        <td>홈페이지 전문 제작</td>
                        <td>Jun 21, 2024</td>
                        <td>880,000원</td>
                        <td>주식회사드림위드컴퍼니</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>