<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>POST MANAGE PAGE</title>
</head>
<body>
    <main>
        <section>
            <h1 class="postMngTitle">게시물 관리 페이지</h1>
            <div id="postHeaderCon">
                <h3 class="tableTitle">게시물 관리</h3>
                <div class="selectCon">
                    <label>
                        <select>
                            <option>최신순</option>
                            <option>오래된순</option>
                        </select>
                    </label>
                    <button class="deleteBtn">삭제</button>
                </div>
            </div>
            <table id="postMngTable">
                <thead id="postMngThead">
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>글 제목</th>
                        <th>게시한 날짜</th>
                        <th>카테고리</th>
                        <th>작성자</th>
                    </tr>
                </thead>
                <tbody id="postMngTbody">
                    <tr class="postMngRow">
                        <td><input type="checkbox"></td>
                        <td>글 제목 1</td>
                        <td>Jun 21, 2024</td>
                        <td>자유 게시판</td>
                        <td>abc123</td>
                    </tr>
                    <tr class="postMngRow">
                        <td><input type="checkbox"></td>
                        <td>글 제목 2</td>
                        <td>Jun 21, 2024</td>
                        <td>자유 게시판</td>
                        <td>abc123</td>
                    </tr>
                    <tr class="postMngRow">
                        <td><input type="checkbox"></td>
                        <td>글 제목 3</td>
                        <td>Jun 21, 2024</td>
                        <td>자유 게시판</td>
                        <td>abc123</td>
                    </tr>
                    <tr class="postMngRow">
                        <td><input type="checkbox"></td>
                        <td>글 제목 4</td>
                        <td>Jun 21, 2024</td>
                        <td>자유 게시판</td>
                        <td>abc123</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>