<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>마이페이지 | 회원 정보 수정(회원 인증)</title>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <script src="/js/header.js" defer></script>

    <th:block th:insert="~{fragments.html :: cdns}"></th:block>

    <link rel="stylesheet" href="/css/user/myPage/modifyConfirm.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>
    <main>
        <section id="modifySection">
            <form th:action="@{/myPage/modifyConfirm}" method="POST" id="modifyConfirmForm" class="modify-container">
                <section id="titleSec">
                    <p>회원 정보를 수정하려면</p>
                    <p>비밀번호를 입력해주세요</p>
                </section>
                <div id="confirmContainer">
                    <div class="modify-input-container">
                        <label for="modifyPw"></label>
                        <input id="modifyPw" type="password" name="password" placeholder="비밀번호를 입력해주세요.">
                    </div>
                    <div class="error-message-container error">
                        <p class="err-msg" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
                    </div>
                    <div class="btn-container">
                        <button type="submit">확인</button>
                    </div>
                </div>
            </form>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>