<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>마이페이지 | 회원 정보 수정</title>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <script src="/js/header.js" defer></script>
    <script src="/js/user/myPage/modifyUserInfo.js" defer></script>

    <th:block th:insert="~{fragments.html :: cdns}"></th:block>

    <link rel="stylesheet" href="/css/user/myPage/modifyUserInfo.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="modifySection">
            <div class="modify-container">
                <section id="titleSec">
                    <p>회원 정보 수정</p>
                </section>
                <form id="modifyInfoForm" action="/myPage/modifyUserInfo" method="POST">
                    <label for="idInput"></label>
                    <input id="idInput" type="text" placeholder="회원 아이디" th:value="${#authentication.principal.userDto.id}" disabled>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="변경 후 비밀번호" required>
                    <label for="password2"></label>
                    <input type="password" id="password2" placeholder="변경 후 비밀번호 확인">
                    <label for="phoneInput"></label>
                    <input type="text" id="phoneInput" name="phone" placeholder="휴대전화 번호">
                    <div class="error-input error">
                        <!-- 오류 메세지 부분 JS로 display: block 주기-->
                        <p class="err-msg">공백이 포함되었습니다.</p>
                        <p class="err-msg">대/소문자 영어, 숫자를 포함한 8-20자이내로 입력해주세요.</p>
                        <p class="err-msg">비밀번호가 서로 일치하지 않습니다.</p>
                    </div>
                    <section id="btnSec">
                        <button type="button">변경 취소</button>
                        <button type="submit">변경 완료</button>
                    </section>
                </form>
            </div>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>