<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>마이페이지 | 회원 정보 수정</title>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <script src="/js/header.js" defer></script>

    <link rel="stylesheet" href="/css/user/myPage/modifyUserInfo.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="modifySection">
            <div class="modify-container">
                <section id="titleSec">
                    <p>회원 정보 수정</p>
                </section>
                <form action="" method="POST">
                    <label for="idInput"></label>
                    <input id="idInput" type="text" placeholder="회원 아이디" th:value="${#authentication.principal.userDto.id}" disabled>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="변경 후 비밀번호">
                    <label for="password2"></label>
                    <input type="password" id="password2" placeholder="변경 후 비밀번호 확인">
<!--                    <label for="emailInput"></label>-->
<!--                    <input type="text" id="emailInput" placeholder="이메일 주소">-->
                    <label for="phoneInput"></label>
                    <input type="text" id="phoneInput" name="phone" placeholder="휴대전화 번호">
                    <section id="btnSec">
                        <button type="button">변경 취소</button>
                        <button type="submit">변경 완료</button>
                    </section>
                </form>
            </div>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>