<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <script src="/js/header.js" defer></script>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <script src="/js/user/myPage/myPageMain.js" defer></script>

    <link rel="stylesheet" href="/css/user/myPage/myPageMain.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">


</head>
<body>

<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="userMainSec">
            <div>
                <section id="userProfileSection">
                    <div>
                        <section id="titleSec">
                            <p id="userId" th:text="${user.id}"></p><p>님의 마이 페이지</p>
                        </section>
                        <div id="userProfileImgContainer">
                            <!-- 유저 프로필 사진 div-->
                            <input type="file" id="fileInput" onchange="changeProfileImage(this.files[0])" hidden="hidden">
                            <button type="button" id="changeProfileImgBtn">
                                <img style="border-radius: 50%; object-fit: cover;" id="profileImage" class="profile-image" th:src="@{/myPage/profileImage}" alt="프로필 사진">
                                <span id="changeSpan">변경하기</span>
                            </button>
                        </div>
                    </div>
                </section>

                <section id="userCategorySection">
                    <ul>
                        <li class="user-category-list border">
                            <a href="/myPage/modifyConfirm"><i class="fa-solid fa-user-pen"></i></a>
                            <p class="category-title"><a href="/myPage/modifyConfirm">회원 정보 수정</a></p>
                            <section class="category-desc">
                                <p><a href="/myPage/modifyConfirm">회원이신 고객님의 정보를</a></p>
                                <p><a href="/myPage/modifyConfirm">관리하는 공간입니다.</a></p>
                            </section>
                        </li>
                        <li class="user-category-list border">
                            <a href="/myPage/chats"><i class="fa-solid fa-comments"></i></a>
                            <p class="category-title"><a href="/myPage/chats">채팅 내역</a></p>
                            <section class="category-desc">
                                <p><a href="/myPage/chats">전문가와 진행한 채팅</a></p>
                                <p><a href="/myPage/chats">내역을 관리하는 공간입니다.</a></p>
                            </section>
                        </li>
                        <li class="user-category-list border non">
                            <a href="/myPage/wishlist"><i class="fa-solid fa-heart"></i></a>
                            <p class="category-title"><a href="/myPage/wishlist">즐겨 찾기</a></p>
                            <section class="category-desc">
                                <p><a href="/myPage/wishlist">회원님이 관심있어 하는</a></p>
                                <p><a href="/myPage/wishlist">전문가를 한 곳에서 관리하는</a></p>
                                <p><a href="/myPage/wishlist">공간입니다.</a></p>
                            </section>
                        </li>
                        <li class="user-category-list">
                            <a href="/myPage/payment"><i class="fa-solid fa-credit-card"></i></a>
                            <p class="category-title"><a href="/myPage/payment">결제 내역</a></p>
                            <section class="category-desc">
                                <p><a href="/myPage/payment">전문가의 서비스를</a></p>
                                <p><a href="/myPage/payment">이용하고 결제를 진행했던 내역을</a></p>
                                <p><a href="/myPage/payment">보여드립니다.</a></p>
                            </section>
                        </li>
                        <li class="user-category-list">
                            <a href="/myPage/postmanage"><i class="fa-solid fa-file-pen"></i></a>
                            <p class="category-title"><a href="/myPage/postmanage">게시물 관리</a></p>
                            <section class="category-desc">
                                <p><a href="/myPage/postmanage">회원님이 작성하신 게시물들을</a></p>
                                <p><a href="/myPage/postmanage">관리하는 공간입니다.</a></p>
                            </section>
                        </li>
                        <li class="user-category-list non">
                            <a href="/user/addExpertInfo"><i class="fa-solid fa-address-card"></i></a>
                            <p class="category-title"><a href="/user/addExpertInfo">전문가 등록</a></p>
                            <section class="category-desc">
                                <p><a href="/user/addExpertInfo">전문가로 활동하려면</a></p>
                                <p><a href="/user/addExpertInfo">전문가 등록을 진행해야 합니다.</a></p>
                            </section>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>