<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>마이페이지 | 결제 내역 페이지</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <script src="/js/header.js" defer></script>

    <link rel="stylesheet" href="/css/user/myPage/payment.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="manageSection">
            <div>
                <section id="titleSec">
                    <p>결제 내역 페이지</p>
                </section>
                <div id="manageContainer">
                    <div id="headerContainer">
                        <div class="select-con">
                            <div>
                                <label>
                                    <select>
                                        <option>최신순</option>
                                        <option>오래된순</option>
                                    </select>
                                </label>
                            </div>
                            <div>
                                <button class="delete-btn">삭제</button>
                            </div>
                        </div>
                    </div>
                    <table id="manageTable">
                        <colgroup>
                            <col class="check-box">
                            <col class="title">
                            <col class="date">
                            <col class="price">
                            <col class="writer">
                        </colgroup>
                        <thead id="manageThead">
                            <tr id="theadRow">
                                <th><input type="checkbox" id="selectAll"></th>
                                <th>서비스명</th>
                                <th>결제한 날짜</th>
                                <th>금액</th>
                                <th>전문가</th>
                            </tr>
                        </thead>
                        <tbody id="manageTbody">
                            <tr class="manage-row">
                                <td><input type="checkbox"></td>
                                <td>홈페이지 전문 제작</td>
                                <td>Jun 21, 2024</td>
                                <td>880,000원</td>
                                <td>주식회사드림위드컴퍼니</td>
                            </tr>
                            <tr class="manage-row">
                                <td><input type="checkbox"></td>
                                <td>홈페이지 전문 제작</td>
                                <td>Jun 21, 2024</td>
                                <td>880,000원</td>
                                <td>주식회사드림위드컴퍼니</td>
                            </tr>
                            <tr class="manage-row">
                                <td><input type="checkbox"></td>
                                <td>홈페이지 전문 제작</td>
                                <td>Jun 21, 2024</td>
                                <td>880,000원</td>
                                <td>주식회사드림위드컴퍼니</td>
                            </tr>
                            <tr class="manage-row">
                                <td><input type="checkbox"></td>
                                <td>홈페이지 전문 제작</td>
                                <td>Jun 21, 2024</td>
                                <td>880,000원</td>
                                <td>주식회사드림위드컴퍼니</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>