<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
<!--    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">-->
    <title>마이페이지 | 즐겨찾기 페이지</title>
    <script src="/js/header.js" defer></script>

    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
    <script src="/js/user/myPage/wishlist.js" defer></script>

    <link rel="stylesheet" href="/css/user/myPage/wishlist.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/fixedBtns.css">

</head>
<body>
<th:block th:insert="~{fragments.html :: header_fragment}"></th:block>

    <main>
        <section id="wishlistSec">
            <div>
                <section id="titleSec">
                    <p>즐겨찾기 페이지</p>
                </section>
                <form th:action="@{/myPage/wishlist}" method="post">
                    <section id="bodySec">
                        <div th:if="${expertList.size() == 0}" class="is-null">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            <p>즐겨찾기된 전문가의 정보가 없습니다.</p>
                        </div>
                        <ul id="wishList">
                            <li class="wish-lies" th:each="expert: ${expertList}" >
                                <div>
                                    <div class="heart-con">
                                        <button type="button" th:id="${expert.userId}" onclick="deleteWishlist(this);">
                                            <i class="fa-solid fa-heart"></i>
                                        </button>
                                    </div>
                                    <div class="header-con">
                                        <div class="img-con">
                                            <a th:href="@{|/user/expertDetail/${expert.nickname}|}"><img th:src="${expert.profileImgUrl}" alt="#"></a>
                                        </div>
                                        <!-- 전문가의 카테고리 -->
                                        <div class="category-con">
                                            <button style="background-color:#E9D2FF; color: #6941C6;">Front-End</button>
                                            <button style="background-color:#FDF4C7; color: #FF9900;">Design</button>
                                        </div>
                                    </div>
                                    <section class="content-sec">
                                        <div class="title-con">
                                            <div class="writer-con">
                                                <a class="writer" th:href="@{|/user/expertDetail/${expert.nickname}|}" th:text="${expert.address}">Natali Craig</a>
                                            </div>
                                            <div class="title">
                                                <a th:href="@{|/user/expertDetail/${expert.nickname}|}"><p th:text="${expert.nickname}">How collaboration makes us better designers</p></a>
                                            </div>
                                        </div>
                                        <div class="content-con">
                                            <a href="#"><p th:text="${expert.introduction}">Collaboration can make our</p></a>
                                        </div>
                                    </section>
                                </div>
                            </li>
                        </ul>
                    </section>
                </form>
            </div>
        </section>
        <th:block th:insert="~{fragments.html :: fixedBtns_frag}"></th:block>

    </main>
</body>
</html>
