<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전문가 회원 정보 수정 페이지</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <form action="" method="POST">
            <!-- 전문가 정보 수정 섹션 -->
            <section>
                <!-- 전문가 소개 -->
                <div>
                    <h4>전문가 소개</h4>
                    <div>
                        <label>
                            <textarea></textarea>
                        </label>
                    </div>
                    <button>수정 취소</button>
                    <button>수정 완료</button>
                </div>
                <!-- 전문 분야 선택 -->
                <div>
                    <!-- textarea 에서 입력하고 버튼 누르면 추가되고 X 눌러서 삭제할 수 있는 방식 -->
                    <h4>전문 분야</h4>
                    <div>
                        <div>웹 페이지 제작<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                    </div>
                    <div>
                        <label>
                            <textarea></textarea>
                        </label>
                        <button>입력</button>
                    </div>
                </div>
                <div>
                    <h4>보유 기술</h4>
                    <div>
                        <div>JAVA<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                        <div>Python<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                        <div>JavaScript<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                    </div>
                    <div>
                        <label>
                            <textarea></textarea>
                        </label>
                        <button>입력</button>
                    </div>
                </div>
                <div>
                    <h4>경력 사항</h4>
                    <div>
                        <div>OO기업에서 6년간 근무<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                        <div>OO기업에서 인턴쉽 경험<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                    </div>
                    <div>
                        <label>
                            <textarea></textarea>
                        </label>
                        <button>입력</button>
                    </div>
                </div>
                <div>
                    <h4>학력/자격증</h4>
                    <div>
                        <div>OO대학교 졸업<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                        <div>정보처리기사<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                        <div>리눅스 마스터 2급<a href="#"><i class="fa-solid fa-xmark"></i></a></div>
                    </div>
                    <div>
                        <label>
                            <textarea></textarea>
                        </label>
                        <button>입력</button>
                    </div>
                </div>
            </section>

            <!-- 포트폴리오 관리 -->
            <section>
                <div>
                    <h4>포트폴리오</h4>
                    <!-- 포트폴리오 클릭하면 수정 페이지로 이동 -->
                    <ul>
                        <li>
                            <div>
                                <img src="#" alt="#">
                            </div>
                            <div>
                                <a href="#">포트폴리오 제목</a>
                                <a href="#">포트폴리오 간단한 설명</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- 수정 완료 버튼 -->
            <section>
                <button type="button">수정 취소</button>
                <button type="submit">수정 완료</button>
            </section>
        </form>
    </main>
</body>
</html>