<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상담 요청 목록 페이지</title>
    <script src="https://kit.fontawesome.com/a8fad9cdbf.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section>
            <div>
                <h1>채팅</h1>
            </div>
        </section>
        <section>
            <section>
                <div>
                    <h2>신청 받은 상담</h2>
                </div>
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="검색">
                </div>
            </section>
            <!-- 채팅 내역 리스트 -->
            <section>
                <ul>
                    <li>
                        <!-- 프로필 이미지 -->
                        <img src="#" alt="#">
                        <!-- 채팅 상대 id와 내용 미리보기 -->
                        <div>
                            <b>oboa</b>
                            <p>Will head to the Help Center...</p>
                        </div>
                        <div>
                            <button>수락 (채팅 시작)</button>
                            <button>거절 (채팅 거부)</button>
                        </div>
                    </li>
                    <li>
                        <!-- 프로필 이미지 -->
                        <img src="#" alt="#">
                        <!-- 채팅 상대 id와 내용 미리보기 -->
                        <div>
                            <b>Carlo Emilio</b>
                            <p>Let's go</p>
                        </div>
                        <div>
                            <button>수락 (채팅 시작)</button>
                            <button>거절 (채팅 거부)</button>
                        </div>
                    </li>
                    <li>
                        <!-- 프로필 이미지 -->
                        <img src="#" alt="#">
                        <!-- 채팅 상대 id와 내용 미리보기 -->
                        <div>
                            <b>Oscar Davis</b>
                            <p>Trueeeeeeee</p>
                        </div>
                        <div>
                            <button>수락 (채팅 시작)</button>
                            <button>거절 (채팅 거부)</button>
                        </div>
                    </li>
                    <li>
                        <!-- 프로필 이미지 -->
                        <img src="#" alt="#">
                        <!-- 채팅 상대 id와 내용 미리보기 -->
                        <div>
                            <b>Daniel Jay Park</b>
                            <p>lol yeah, are you coming to the lunc...</p>
                        </div>
                        <div>
                            <button>수락 (채팅 시작)</button>
                            <button>거절 (채팅 거부)</button>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    </main>
</body>
</html>