<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>전문가 포트폴리오 작성 페이지</title>
</head>
<body>
    <main>
        <section>
            <div>
                <h1>전문가 포트폴리오 작성</h1>
            </div>
            <div>
                <input type="text">
                <label>
                    <select>
                        <option>제목</option>
                        <option>작성자</option>
                        <option>내용</option>
                    </select>
                </label>
            </div>
        </section>
        <form action="" method="POST">
            <section>
                <div>
                    <label>
                        <select>
                            <option selected>전문가 포트폴리오</option>
                        </select>
                    </label>
                    <div>
                        <label for="title"></label>
                        <input type="text" id="title" placeholder="제목을 입력하세요.">
                    </div>
                    <section>
                        <span>파일 첨부</span>
                        <div>
                            <label for="files">
                                첨부할 파일을 여기로 이동해주세요<input type="file" id="files">
                            </label>
                        </div>
                    </section>
                </div>
            </section>

            <section>
                <span>내용</span>
                <label>
                    <textarea placeholder="내용을 작성하세요."></textarea>
                </label>
            </section>

            <section>
                <button type="button">취소</button>
                <button type="submit">확인</button>
            </section>
        </form>
    </main>
</body>
</html>